.new-hero-sec-holder {
  background: #1b0334;
  height: 650px;
  position: relative;
  padding: 0 158px;
  /* max-width: 1400px; */
  margin: auto;
}

.hero-white-text-content {
  cursor: pointer;
  opacity: 0.8;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  font-size: 17px;
  font-weight: 400;
  line-height: 34px;
}
.hero-white-text-content:hover {
  opacity: 0.9;
}
.hero-white-text-heading {
  font-family: "Roboto", sans-serif;
  font-size: 56px;
  font-weight: 800;
  line-height: 64px;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  margin-bottom: 10px;
}

.hero-text-special-color {
  color: #f943ff;
  font-family: "Roboto", sans-serif;
}

.hero-text-special-color2 {
  color: rgb(146, 116, 255);
}

.hero-text-special-color3 {
  color: rgb(5, 175, 242);
}

.hero-sec-two-columns {
  display: flex;
  position: relative;
  justify-content: space-between;
}

.hero-mouse-svg-holder {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  bottom: 3%;
  right: 50%;
  cursor: pointer;
}

.hero-mouse-svg-text {
  font-size: 12px;
  color: #fff;
  opacity: 0.6;
  padding-top: 5px;
}

.hero-u-svg-holder {
  position: absolute;
  opacity: 0.4;
  width: 400px;
  padding: 0 !important;
}

.services-herosvg-holdern {
  padding: 220px 0 20px 0 !important;
  margin-right: 85px;
  position: absolute;
  right: 0%;
  width: 25%;
}
.new-hero-sec-righttext-holder {
  padding: 170px 0 20px 0 !important;
  position: absolute;
  right: 0%;
  width: 33%;
}

.new-hero-sec-overlay-holder {
  position: relative !important;
}

.hero-arrow-overlay-img {
  position: absolute;
  top: 0%;
}

.new-hero-sec-lefttext-holder1,
.new-hero-sec-lefttext-holder2,
.new-hero-sec-lefttext-holder3 {
  position: absolute;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.new-hero-sec-lefttext-holder1 {
  /* animation-name: anim-1; */
}

.new-hero-sec-lefttext-holder2 {
  /* animation-name: anim-2; */
}

.new-hero-sec-lefttext-holder3 {
  /* animation-name: anim-3; */
}

@keyframes anim-1 {
  0% {
    left: -0%;
    opacity: 0;
  }

  6%,
  29% {
    left: 0%;
    opacity: 1;
  }

  33.33%,
  100% {
    left: 10%;
    opacity: 0;
  }
}

@keyframes anim-2 {
  0%,
  33% {
    left: -0%;
    opacity: 0;
  }

  39%,
  62% {
    left: 0%;
    opacity: 1;
  }

  66%,
  100% {
    left: 10%;
    opacity: 0;
  }
}

@keyframes anim-3 {
  0%,
  66% {
    left: -0%;
    opacity: 0;
  }

  73%,
  96% {
    left: 0%;
    opacity: 1;
  }

  100% {
    left: 10%;
    opacity: 0;
  }
}

.hero-sec-rightarrow-holder {
  animation: RotateArrow 35s infinite linear;
}

@keyframes RotateArrow {
  from {
    transform: rotate(359deg);
  }

  to {
    transform: rotate(0deg);
  }
}

.hero-sec-left-3items-holder {
  padding: 180px 0 20px 0 !important;
  position: relative;
  width: 100%;
}
.herosec-custom-css {
  color: red;
}
@media only screen and (max-width: 900px) {
  .hero-sec-left-3items-holder {
    padding: 30px 0 0 0 !important;
    position: unset;
    width: 90%;
  }

  .hero-white-text-content {
    font-size: 16px;
  }

  .hero-white-text-heading {
    font-size: 40px;
    line-height: 50px;
  }

  .hero-u-svg-holder {
    display: none !important;
  }
  .services-herosvg-holdern {
    display: none;
  }
  .new-hero-sec-righttext-holder {
    display: none;
    padding: 0 !important;
    position: absolute;
    margin-top: 100px;
    right: 0%;
    width: 50%;
  }

  .hero-sec-two-columns {
    display: block;
  }
  .new-hero-sec-holder {
    background: #1b0334;
    /* height: 530px; */
    position: relative;
    padding: 30px;
    padding-top: 102px;
  }
}
