@font-face {
  font-family: nunitoReg;
  src: url(Nunito-Regular.ttf);
}
body {
  margin: 0;
}
p {
  font-family: nunitoReg;
}
ul li {
  font-family: nunitoReg;
}
article {
  font-family: nunitoReg;
}
.textdecoration_style {
  text-decoration: none;
}
.portfilio-video-holdr {
  display: flex;
  justify-content: center;
}
.uk-blue-background {
  background: #1b0334;
}
.heroarea-imgsec-holder {
  /* padding: 0 85px; */
  background: #1b0334;
}
.imgsection-text-container {
  padding-top: 190px;
  padding-bottom: 60px;
  /* padding-right: 60px; */
  display: flex;
  flex: 2;
}
.imgsection-about-btnhold {
  padding: 30px 0 40px 0;
  display: flex;
  justify-content: flex-end;
}
.imgsection-left-part {
  flex: 1;
}
.imgsection-right-part {
  flex: 1;
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}
.imgsection-texthead {
  font-family: "Roboto", sans-serif;
  text-align: left;
  font-weight: bold;
  font-size: 45px;
  line-height: 65px;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  /* margin-bottom: 60px; */
  width: 80%;
}
.imgsection-subheading {
  text-align: left;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0px;
  color: #ffffff;
  margin-bottom: 32px;
  opacity: 0.5;
}
/* beloww works */
.latHilights-heading-text {
  text-align: left;
  font-size: 52px;
  line-height: 64px;
  letter-spacing: 0px;
  color: #532a7b;
}
.uk-latestHilights-section {
  padding: 85px;
  max-width: 1400px;
  margin: auto;
}
.uk-latHilights-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 55px;
}
.latHilights-blogs-barButton {
  cursor: pointer;
  text-align: left;
  font-size: 16px;
  line-height: 2;
  font-weight: bold;
  letter-spacing: 0px;
  color: #1b0334;
  padding-left: 20px;
  /* margin-right: 40px; */
  border-left: 3px solid #f843ff;
}
.uk-latHilights-blockhold {
  display: flex;
  justify-content: space-between;
}
.uk-lathilights-block {
  width: 298px;
  padding: 60px 37px;
  background: #3f3fbd;
  border-radius: 10px;
}
.latHilights-block-date {
  text-align: left;
  font-size: 12px;
  line-height: 19px;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 0.51;
  margin-bottom: 14px;
}
.latHilights-block-head {
  text-align: left;
  font-size: 19px;
  line-height: 31px;
  letter-spacing: 0px;
  color: #ffffff;
  margin-bottom: 16px;
}
.latHilights-block-text {
  text-align: left;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0px;
  color: #ffffff;
  margin-bottom: 24px;
}
.latHilights-block-morebtn {
  text-align: left;
  font-size: 12px;
  line-height: 18px;
  display: inline;
  letter-spacing: 0.6px;
  color: #ffffff;
  border-bottom: 1px solid #f843ff;
}
.testimonials-main-holder {
  background: #e6e7f9;
}
.testimonials-imgtext-holder {
  display: flex;
}
.testimonials-section {
  padding: 85px;
  max-width: 1400px;
  margin: auto;
}
.testimonials-img {
  width: 70%;
}
.testimonials-description {
  text-align: center;
  letter-spacing: 0px;
  color: #080808;
  opacity: 1;
  font-size: 26px;
  line-height: 40px;
  margin-top: 15px;
  margin-bottom: 42px;
}
.testimonials-details {
  text-align: center;
  font-size: 20px;
  line-height: 36px;
  letter-spacing: 0px;
  color: #3f3fbd;
}
.testimonials-quotes-styl {
  text-align: left;
  font-size: 60px;
  letter-spacing: 0px;
  color: #9d9d9d;
}
.testimonials-texholder {
  padding: 40px 65px;
}
.testimonials-content-holder {
  padding: 30px 0 0 50px;
}
.activeTestimbtn {
  opacity: 0.81;
  cursor: not-allowed;
}
.testim-left-btn {
  color: white;
  background: #3f3fbd;
  width: 37px;
  height: 36px;
  cursor: pointer;
  border-radius: 5px 0px 0px 5px;
}
.testim-right-btn {
  cursor: pointer;
  color: white;
  background: #3f3fbd;
  width: 37px;
  height: 36px;
  border-radius: 0px 5px 5px 0px;
}
.display-center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.testmonials-btn-holder {
  display: flex;
  align-items: center;
}
.testmonials-btn-secnss {
  padding: 0 50px 40px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.testmonials-btn-holder-mains {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}
.testimonial-count {
  text-align: left;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.6px;
  color: #3f3fbd;
  margin-top: 12px;
}
.partners-logo-section {
  display: flex;
  /* justify-content: flex-start; */
  flex-wrap: wrap;
  padding: 70px 0;
}
.proud-clints-imghold {
  width: 25%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.areyounext-block-main {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.areyounext-block {
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23707070FF' stroke-width='3' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
  padding: 22px 60px;
}
.areyounext-content {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0px;
  color: #9d9d9d;
}
/*getin touch*/
.uk-getintouch-section {
  background: #1b0334 0% 0% no-repeat padding-box;
  padding-top: 100px;
  padding-bottom: 150px;
  flex-direction: column;
  display: flex;
  align-items: center;
}
.getintouch-heading {
  text-align: center;
  font-size: 50px;
  line-height: 62px;
  letter-spacing: 0px;
  color: #ffffff;
  margin-bottom: 12px;
}
.getintouch-subtext {
  text-align: center;
  font-size: 30px;
  line-height: 47px;
  letter-spacing: 0px;
  color: #ffffff;
  margin-bottom: 85px;
}
.getintouch-barButton {
  text-align: left;
  font-size: 16px;
  line-height: 2;
  letter-spacing: 0px;
  color: #ffffff;
  padding-left: 20px;
  margin-right: 40px;
  border-left: 3px solid #f843ff;
}
.capabilities-section-flex {
  display: flex;
  flex: 9;
}
.capabilities-block1 {
  flex: 5;
}
.capabilities-block2 {
  flex: 2;
}
.capabilities-heading {
  text-align: left;
  letter-spacing: 0px;
  color: #532a7b;
  font-size: 55px;
  line-height: 68px;
  margin-bottom: 30px;
}
.capabilities-subtext {
  text-align: left;
  font-size: 16px;
  line-height: 45px;
  letter-spacing: 0px;
  font-weight: bold;
  color: #797979;
  width: 76%;
}
.capabilities-section-bg {
  background: #f8f8ff;
}
.capabilities-section {
  padding: 145px 85px 100px 85px;
  background: #f8f8ff;
  max-width: 1400px;
  margin: auto;
}

.capabilities-barTextHead {
  padding: 15px 0 15px 15px;
  font-size: 18px;
  line-height: 1.5;
  text-align: left;
  font-weight: bold;
  /* border-left: 3px solid #f843ff; */
  margin-bottom: 10px;
  color: white;
}
.capabilities-BLACKhead {
  font-size: 28px;
  line-height: 1.2;
  color: #532a7b;
  text-transform: uppercase;
  padding: 0;
}
.capabilities-barText {
  text-align: left;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0px;
  color: white;
  opacity: 0.58;
  margin-bottom: 25px;
  margin-left: 18px;
}
.capabilities-barText-group {
  /* margin-bottom: 60px; */
}
.approach-heading {
  text-align: left;
  letter-spacing: 0px;
  color: #532a7b;
  font-size: 52px;
  line-height: 64px;
  margin-bottom: 26px;
}
.approach-section {
  padding: 100px 85px 85px 85px;
  max-width: 1400px;
  margin: auto;
}
.approach-subheading {
  text-align: left;
  letter-spacing: 0px;
  width: 88%;
  color: #797979;
  font-size: 25px;
  line-height: 50px;
  margin-bottom: 60px;
  font-weight: bold;
}
.approach-tabs-Holder {
  display: flex;
  justify-content: center;
  padding: 34px;
  background: #f8f8ff;
  border-radius: 10px;
}
.approah-tabs-heads {
  text-align: center;
  cursor: pointer;
  font-size: 17px;
  letter-spacing: 0px;
  color: #1b0334;
  margin-right: 62px;
  margin-left: 62px;
}
.activeTabhead {
  color: #f843ff;
  font-weight: bold;
}
.approach-tabin-heading {
  text-align: left;
  letter-spacing: 0px;
  color: #3f3fbd;
  font-size: 52px;
  line-height: 69px;
  margin-top: 65px;
  margin-bottom: 34px;
  width: 65%;
}
.approach-tabin-subheading {
  text-align: left;
  letter-spacing: 0px;
  color: #797979;
  font-size: 25px;
  line-height: 50px;
  width: 80%;
}
.footer-section-bg {
  background: #f3f3f5;
}
.footer-section {
  padding: 45px 85px;
  padding-top: 120px;
  background: #f3f3f5;
  max-width: 1400px;
  margin: auto;
}
.footer-top-section {
  display: flex;
  justify-content: space-between;
}
.footer-left-part {
}
.footer-right-part {
  flex: 0 0 35%;
}
.footer-subheading {
  text-align: left;
  font-size: 24px;
  line-height: 44px;
  letter-spacing: 0px;
  color: #1b0334;
  opacity: 0.5;
  margin-top: 20px;
}

.footer-subheading-bold {
  font-weight: bold;
}
.footer-contactheading {
  text-align: left;
  letter-spacing: 0px;
  font-size: 19px;
  line-height: 35px;
  color: #1b0334;
  opacity: 0.75;
  margin-bottom: 40px;
}
.footer-rating-Holder {
  display: flex;
  flex: 2;
}
.footer-rating-block {
  flex: 1;
  display: flex;
}
.footer-rating-number {
  text-align: left;
  letter-spacing: 0px;
  font-size: 17px;
  line-height: 28px;
  color: #333333;
}
.number-rating-holder {
  margin-left: 20px;
}
.footer-links-left {
  text-align: left;
  font-size: 13px;
  line-height: 1;
  letter-spacing: 0px;
  color: #1b0334;
  opacity: 0.5;
  margin-right: 43px;
}
.footer-links-right {
  text-align: left;
  font-size: 13px;
  line-height: 1;
  letter-spacing: 0px;
  color: #1b0334;
  opacity: 0.5;
  margin-left: 43px;
  font-weight: bold;
}
.footer-links-holder {
  display: flex;
}
.footer-bottom-section {
  margin-top: 50px;
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: 1px solid #cccccc;
  font-weight: bold;
  border-bottom: 1px solid #cccccc;
  display: flex;
  justify-content: space-between;
}
.footer-copyrights {
  text-align: left;
  letter-spacing: 0px;
  color: #1b0334;
  opacity: 0.5;
  font-size: 13px;
  line-height: 1;
}
.faqs-heading {
  text-align: left;
  letter-spacing: 0px;
  color: #532a7b;
  font-size: 52px;
  line-height: 64px;
  margin-bottom: 36px;
}
.faqs-section {
  padding: 95px 85px;
  max-width: 1400px;
  margin: auto;
}
.faqs-text-block {
  background: #f8f8ff;
  border-radius: 10px;
  padding: 38px 43px;
  margin-bottom: 15px;
}
.faqs-quetion-text {
  text-align: left;
  letter-spacing: 0px;
  cursor: pointer;
  color: #1b0334;
  font-size: 16px;
  line-height: 52px;
  font-weight: bold;
}
.faqs-answer-text {
  text-align: left;
  width: 80%;
  font-size: 16px;
  display: none;
  line-height: 26px;
  letter-spacing: 0px;
  color: #1b0334;
  transition: all 2s;
}
/**/
.unikwan-navbar-mainholder {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1111;
}
.unikwan-navbar-holder {
  display: flex;
  padding: 18px 85px;
  justify-content: space-between;
  align-items: center;
}
.nabvar-linktag {
  text-align: left;
  font-size: 11px;
  line-height: 17px;
  letter-spacing: 0px;
  color: #ffffff;
  margin-right: 30px;
  margin-left: 30px;
  text-decoration: none;
  cursor: pointer;
}
.navbar-links-holder {
  display: flex;
  align-items: center;
}
.navbar-contact-btn {
  border: 1px solid #f843ff;
  padding: 13px 26px;
  border-radius: 4px;
  cursor: pointer;
  background: linear-gradient(to right, #3a50d2 50%, transparent 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.5s ease-out;
}
.navbar-contact-btn:hover {
  background-position: left bottom;
  border: 1px solid #3a50d2;
}
.projects-section {
  padding: 140px 85px;
  max-width: 1400px;
  margin: auto;
}
.projects-slides-block {
  background: #e6e7f9;
  border-radius: 14px;
  display: flex;
  flex: 5;
}
.project-slides-left {
  flex: 2;
  padding: 62px;
  padding-bottom: 40px;
}
.project-slides-right {
  flex: 3;
  display: flex;
  align-items: flex-end;
}
.projects-compnayname {
  text-align: left;
  font-size: 13px;
  letter-spacing: 0px;
  color: #1b0334;
  margin-bottom: 50px;
}
.projectname-pink {
  color: #f843ff;
}
.projects-projectname {
  text-align: left;
  font-size: 56px;
  letter-spacing: 0px;
  color: #213991;
  margin-bottom: 20px;
}
.projects-description {
  text-align: left;
  font-size: 20px;
  line-height: 2;
  letter-spacing: 0px;
  color: #1b0334;
  margin-bottom: 50px;
}
.projects-viewprojects {
  text-align: left;
  letter-spacing: 0.5px;
  font-size: 10px;
  line-height: 16px;
  color: #3f3fbd;
  border-bottom: 1px solid #f843ff;
  display: inline;
}
.projects-btn-holder {
  padding-top: 52px;
  display: flex;
  align-items: center;
}
.mobile-navimage-hold {
  display: none;
}
.testims-main-avatar {
  width: 120px;
}
/* responsivness*/
.gigsasa_heading_m {
  color: #ffffff;
  font-weight: normal;
  opacity: 0.4;
}
.gigsasa_heading_max {
  color: #ffffff;
  opacity: 0.9;
  font-size: 24px;
  font-weight: normal;
}
.impact_text_style {
  font-size: 28px;
  line-height: 1.5;
}
.portfolio-testims {
  background: #fbfbfb 0% 0% no-repeat padding-box;
  display: flex;
  justify-content: center;
  padding: 9% 0;
}
.portfolio-testims-text {
  font-size: 35px;
  line-height: 1.5;
  letter-spacing: 0px;
  color: #000000;
  margin-bottom: 20px;
}
.portfolio-testims-sub {
  font-size: 25px;
  line-height: 1.3;
  letter-spacing: 0px;
  color: #000000;
}
.portfolio-margin-body {
  margin: 120px 0;
}
.portfolio-margin-uk {
  margin: 30px 0;
}
.blogs-uk-padings {
  margin: 0 30px 0 0;
}

.navbar-uk-mobilehid {
  display: none;
}
.v2slider-uk-mobilehid {
  display: none;
}
.testimonials-uk-mobilehid {
  display: none;
  margin-top: 40px;
}
.testimonials-uk-mobilevisble {
  display: block;
}
.v2slider-uk-mobilevisble {
  display: block;
}
.unkwan-pf-title {
  background: rgba(27, 3, 52, 0.8);
  padding: 20px 25px;
  width: 100%;
}
.service-sidetext {
  font-size: 20px;
  color: black;
}
.footeruk-social-holder {
  display: flex;
}
.footer-uk-socialimg {
  margin-right: 20px;
  margin-bottom: 15px;
  cursor: pointer;
}
/* cockies banner styles */
.cockie-banner-main {
  display: none;
  position: fixed;
  bottom: 0;
  z-index: 1111;
  width: 100%;
  border-top: 1px solid rgba(255, 255, 255, 0.25);
  background: #e6e7f9;
}
.cockie-banner-block {
  padding: 30px 120px;
  display: flex;
  justify-content: space-between;
}
.cockie-banner-flex {
  display: flex;
  align-items: center;
}
.cockie-btn-text {
  text-align: left;
  font-size: 10px;

  letter-spacing: 0px;
  color: #3a50d2;
}
.cockie-banner-btn {
  min-width: 130px;
  margin-left: 20px;
  padding: 5px 20px;
  border: 1px solid #3a50d2;
  border-radius: 4px;
  cursor: pointer;
}
.cockie-banner-text {
  text-align: left;
  font-size: 12px;

  letter-spacing: 0px;
  line-height: 1.75;
  color: #1b0334;
}
.blog_autohr_holder {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0;
  margin-bottom: 50px;
}
.blog_avatar_holder {
  align-items: center;
  display: flex;
}
.blog_img_avatar {
  height: 30px;
  /* border-radius: 50%; */

  margin-right: 10px;
}
.recaptcha_holder {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  align-items: center;
}
.recaptcha_holder_margin {
  margin-top: 0;
}

.sectors_holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.blogv2_list_holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.single_sector_box {
  width: 32%;
  margin-top: 2%;
  position: relative;
}
.blogv2_single_box {
  width: 32%;
  margin-bottom: 82px;
}
.sector_texthold {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.5s;
}
.sector_texthold:hover {
  background: rgba(27, 3, 52, 0.7);
}
.sectors_heading {
  color: white;
  font-size: 28px;
}
.blogv2_box_imghold {
  width: 100%;
  overflow: hidden;
  cursor: pointer;
  margin-bottom: 20px;
}
.blogv2_box_imge {
  transition: 0.5s all ease-in-out;
}
.blogv2_box_imge:hover {
  transform: scale(1.1);
}
.blogv2_heading {
  text-align: left;
  font-size: 28px;
  line-height: 36px;
  color: #141414;
  margin-bottom: 18px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}
.blogv2_sub_heading {
  text-align: left;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0px;
  color: #6a6262;
}
.blogv2_header_title {
  text-align: left;
  font-size: 30px;
  line-height: 39px;
  letter-spacing: 0px;
  color: #0a0a0a;
  opacity: 0.65;
  font-family: "Roboto", sans-serif;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(28, 3, 52, 0.3);
  margin-bottom: 40px;
}
.blogv2_featuredbox {
  display: flex;
  flex: 3;
  margin-bottom: 82px;
}
.blogv2_featured_img {
  flex: 2;
}
.blogv2_featured_textbox {
  flex: 1;
  margin-left: 26px;
}
.blog_author_text {
  text-align: left;
  font-size: 18px;
  line-height: 24px;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0px;
  color: #6a6262;
  opacity: 0.8;
}
.blog_extra_padding {
  margin-bottom: 72px;
}
.blog_quoite_texting {
  text-align: left;
  font-size: 30px;
  line-height: 1.5;
  letter-spacing: 0px;
  color: #1e1e20;
  opacity: 0.5;
}
.blogquote_sidebar {
  margin-right: 20px;
  height: 100px;
  border-left: 3px solid #1e1e20;
  opacity: 0.3;
  margin-top: 10px;
  margin-left: 30px;
}
.blogquote_boxhold {
  display: flex;
  margin-top: 24px;
  padding-bottom: 12px;
}
.share_icons_margin {
  margin-right: 18px;
  text-decoration: none;
  cursor: pointer;
}
.blog-margin-holler {
  width: 70%;
  margin: auto;
}
.location_single_sub,
.locations_main_hold,
.locations_logo_hold {
  display: flex;
  flex: 2;
}
.flex-prop-flex1 {
  flex: 1;
}
.locations_details_txt {
  margin-left: 15px;
}
.locations_header_txt {
  font-size: 34px;
  color: #2e3192;
  font-weight: bold;
}
.locations_details_txt2 {
  font-size: 20px;
  color: #707070;
}
.locations_details_txt1 {
  font-size: 20px;
  color: #2e3192;
}
.spl-margin-leftadd {
  margin-left: 60px;
}
@media only screen and (max-width: 790px) {
  .divider.divider__lg {
    height: 10px;
  }
  .navbar-uk-mobilehid {
    display: contents;
  }

  .testimonials-uk-mobilehid {
    display: block;
  }
  .testimonials-uk-mobilevisble {
    display: none;
  }

  .box-table-01 {
    margin: auto;
  }
  .subpage-header__bg {
    height: 280px;
  }
  .blog_subpage-header__bg {
    height: 0px;
  }
  .tabs-uk-overflow {
    overflow: scroll;
  }
  .sectors_holder {
    flex-direction: column;
  }
  .single_sector_box {
    width: 100%;
    margin-top: 15px;
  }
}
@media only screen and (min-width: 1025px) {
  .footer-right-part {
    flex: 0 0 32%;
  }
  .uk-mobile-navbar {
    display: none !important;
  }
}

@media only screen and (max-width: 900px) {
  .location_single_sub {
    flex-direction: column;
  }
  .locations_main_hold {
    flex-direction: row;
  }
  .spl-margin-leftadd {
    margin-top: 0;
  }
  .locations_header_txt {
    font-size: 28px;
  }
  .locations_details_txt2 {
    font-size: 16px;
  }
  .locations_details_txt1 {
    font-size: 16px;
  }
  .blog-margin-holler {
    width: 80%;
  }
  .blogv2_featuredbox {
    margin-bottom: 42px;
    flex-direction: column;
  }
  .blogv2_featured_textbox {
    margin-left: 0;
    margin-top: 20px;
  }
  .blogv2_list_holder {
    flex-direction: row;
  }
  .blogv2_single_box {
    width: 48%;
    margin-bottom: 42px;
  }
  .recaptcha_holder {
    flex-direction: column;
  }
  .recaptcha_holder_margin {
    margin-top: 20px;
  }
  .cockie-banner-block {
    flex-direction: column;
    padding: 20px;
  }
  .cockie-banner-btn {
    margin-top: 15px;
    margin-left: 0;
  }
  .subpage-header__block {
    padding-top: 115px;
  }
  .testimonials-texholder {
    padding: 30px;
  }
  .areyounext-block {
    padding: 15px 25px;
  }
  .areyounext-content {
    font-size: 18px;
  }
  .proud-clints-imghold {
    width: unset;
  }
  .areyounext-block-main {
    width: unset;
  }
  .testmonials-btn-holder-mains {
    padding: 30px;
    padding-top: 0;
    flex-direction: column;
  }
  .testmonials-btn-secnss {
    align-items: flex-start;
    padding: 20px;
    padding-left: 0;
  }
  .unikwan-navbar-mainholder {
    transition: height 0.5s;
    height: 14vh;
  }
  .capabilities-section {
    padding: 60px 30px 30px 30px;
  }
  .capabilities-section-flex {
    flex-direction: column;
  }
  .capabilities-subtext {
    width: unset;
    font-size: 16px;
    line-height: 40px;
    margin-bottom: 20px;
  }
  .capabilities-heading {
    font-size: 40px;
    margin-bottom: 20px;
    line-height: 50px;
  }
  .capabilities-barText-group {
    margin-bottom: 0;
    margin-top: 0;
  }
  .capabilities-barTextHead,
  .capabilities-barText {
    font-size: 15px;
    line-height: 23px;
  }
  .uk-latHilights-heading {
    flex-direction: column;
    align-items: flex-start;
  }
  .latHilights-heading-text {
    margin-bottom: 20px;
    font-size: 40px;
    line-height: 50px;
  }
  .projects-section {
    padding: 60px 30px;
  }
  .projects-slides-block {
    flex-direction: column-reverse;
  }
  .project-slides-left {
    padding: 20px;
  }
  .projects-compnayname {
    margin-bottom: 20px;
  }
  .projects-projectname {
    margin-bottom: 20px;
    font-size: 40px;
    line-height: 50px;
  }
  .projects-description {
    font-size: 12px;
    line-height: 2;
    margin-bottom: 25px;
  }
  .projects-btn-holder {
    padding-top: 35px;
  }
  .approach-section {
    padding: 60px 30px;
  }
  .approach-heading {
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 20px;
  }
  .approach-subheading {
    width: unset;
    font-size: 16px;
    line-height: 40px;
    margin-bottom: 40px;
  }
  .approah-tabs-heads {
    margin-right: 10px;
    margin-left: 10px;
  }
  .approach-tabs-Holder {
    padding: 30px 0;
    margin-left: -30px;
    margin-right: -30px;
  }
  .approach-tabin-heading {
    margin-bottom: 20px;
    font-size: 36px;
    line-height: 50px;
    margin-top: 48px;
    width: unset;
  }
  .approach-tabin-subheading {
    font-size: 16px;
    line-height: 40px;
    width: unset;
  }
  .uk-latestHilights-section {
    padding: 40px 30px;
  }
  .uk-lathilights-block {
    width: unset;
    padding: 40px 30px;
    margin-bottom: 30px;
  }
  .uk-latHilights-blockhold {
    flex-direction: column;
  }
  .testimonials-section {
    padding: 40px 30px;
  }
  .faqs-heading {
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 20px;
  }
  .testimonials-imgtext-holder {
    flex-direction: column;
  }
  .testimonials-img {
    width: unset;
  }
  .testimonials-content-holder {
    padding: 0 30px;
  }
  .testimonials-description {
    font-size: 16px;
    line-height: 36px;
    width: unset;
    margin-top: -15px;
    margin-bottom: 9px;
  }
  .testimonials-details {
    font-size: 14px;
    line-height: 20px;
  }
  .testmonials-btn-holder {
  }
  .testims-main-avatar {
    width: 80px;
  }
  .partners-logo-section {
    padding: 30px;
    flex-wrap: wrap;
  }
  .uk-getintouch-section {
    padding: 30px;
    padding-top: 80px;
    padding-bottom: 90px;
  }
  .layout-external-box {
    min-height: 125px;
  }
  .getintouch-heading {
    text-align: left;
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 12px;
  }
  .getintouch-subtext {
    text-align: center;
    font-size: 20px;
    line-height: 40px;
    margin-bottom: 60px;
  }
  .faqs-section {
    padding: 40px 30px;
  }
  .faqs-text-block {
    padding: 25px 18px;
  }
  .faqs-quetion-text {
    font-size: 16px;
    line-height: 26px;
  }
  .faqs-answer-text {
    font-size: 16px;
    margin-top: 10px;
    line-height: 26px;
    width: unset;
  }
  .footer-section {
    padding: 40px 30px;
  }
  .footer-top-section {
    flex-direction: column;
  }
  .footer-links-left {
    margin-bottom: 12px;
    margin-right: 20px;
  }
  .footer-bottom-section {
    margin-top: 50px;
    flex-direction: column-reverse;
  }
  .footer-links-right {
    margin-left: 0;
    margin-right: 20px;
    margin-bottom: 12px;
  }
  .footer-contactheading {
    margin-bottom: 25px;
    margin-top: 15px;
    font-size: 16px;
    line-height: 30px;
  }
  .footer-copyrights {
    font-size: 14px;
    line-height: 1.5;
  }
  .footer-subheading {
    font-size: 20px;
    line-height: 32px;
    margin-top: 15px;
  }
  .number-rating-holder {
    margin-left: 12px;
  }
  .footer-rating-number {
    font-size: 14px;
    line-height: 24px;
  }
  .heroarea-imgsec-holder {
    /* padding: 30px; */
  }
  .imgsection-text-container {
    /* padding: 0; */
    padding-top: 60px;
    flex-direction: column;
    padding-bottom: 20px;
  }
  .imgsection-texthead {
    font-size: 40px;
    line-height: 60px;
    margin-bottom: 20px;
    width: 95%;
  }
  .blogs-uk-padings {
    margin: 0 15px;
  }
  .imgsection-right-part {
    /* margin-top: 40px; */
  }
  .imgsection-subheading {
    font-size: 18px;
    line-height: 1;
    margin-bottom: 35px;
  }
  .imgsection-about-btnhold {
    padding: 0;
    justify-content: flex-start;
  }
  .footer-links-holder {
    flex-wrap: wrap;
    /* justify-content: space-between; */
  }
  .unikwan-navbar-holder {
    padding: 30px;
    align-items: center;
    flex-direction: column;
  }

  .navbar-links-holder {
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
  }
  .navbar-contact-btn {
    padding: 7px 16px;
    display: none;
    margin-bottom: 60px;
  }
  .nabvar-linktag {
    font-size: 16px;
    line-height: 30px;
    margin: 0;
    padding-top: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  .mobile-navimage-hold {
    display: block;
    width: 100%;
  }
  .mobile-navimage-flex {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .mobile-menu-btn {
    padding: 15px 10px;
    color: white;
  }
  .desktop-logo-hold {
    display: none;
  }
  .formobile-links-unhide {
    display: block;
    width: 100%;
    margin-top: 80px;
  }
  .formobile-links-hide {
    display: none;
  }
  .footer-uk-socialimg {
    margin-right: 12px;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 1030px) and (min-width: 901px) {
  .nabvar-linktag {
    margin-left: 10px;
    margin-right: 10px;
  }
  .uk-lathilights-block {
    width: 230px;
    padding: 60px 15px;
  }
  .footer-links-left {
    margin-right: 15px;
  }
  .footer-links-right {
    margin-left: 15px;
  }
  .volunteers-image-holder {
  }
}
/* big Screen responsieness*/
.bigscreen-containers {
  max-width: 1400px;
  margin: auto;
}
.hero-area-blueBG {
  background: #1b0334;
}
@media only screen and (max-width: 425px) {
  .blog_avatar_holder {
    margin-bottom: 10px;
  }
  .blog_autohr_holder {
    align-items: flex-start;
    margin: 15px 0;
    margin-bottom: 30px;
    flex-direction: column;
  }
  .share_icons_margin {
    margin-right: 10px;
  }
  .blogquote_boxhold {
    margin-top: 24px;
    padding-bottom: 12px;
  }
  .blogquote_sidebar {
    margin-right: 15px;
    margin-left: 15px;
  }
  .blog_quoite_texting {
    font-size: 24px;
    line-height: 34px;
  }
  .blog-margin-holler {
    width: 100%;
  }
  .portfilio-video-holdr video {
    width: 100%;
  }
  .v2slider-uk-mobilehid {
    display: contents;
  }
  .v2slider-uk-mobilevisble {
    display: none;
  }
  .blogv2_list_holder {
    flex-direction: column;
  }
  .blogv2_single_box {
    width: unset;
    margin-bottom: 42px;
  }
}
@media only screen and (max-width: 560px) {
  .locations_main_hold {
    flex-direction: column;
  }
  .spl-margin-leftadd {
    margin-left: 0;
    margin-top: 20px;
  }
}
