/*
	Button
*/
.btn {
  background-color: #1b0334;
  border: none;
  color: #ffffff;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.13em;
  position: relative;
  outline: none;
  padding: 5px 35px 4px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  border: 1px solid #1b0334;
  height: 60px;
  cursor: pointer;
  border-radius: 30px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  text-decoration: none;
}
.btn:hover {
  background-color: #ffffff;
  color: #1b0334;
}
.btn:focus {
  outline: none;
}
.btn.disabled {
  border-color: #d5d5d5;
  background-color: #d5d5d5;
  color: #ffffff;
  pointer-events: none;
}

.btn-block {
  width: 100%;
}

.btn-link-icon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  border: none;
  color: #1b0334;
  font-size: 16px;
  line-height: 1;
  font-weight: bold;
  position: relative;
  outline: none;
  padding: 0;
  cursor: pointer;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  text-decoration: none;
}
.btn-link-icon .btn__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 50px;
  height: 50px;
  min-width: 50px;
  min-height: 50px;
  border: 1px solid #d6d6d6;
  border-radius: 50%;
  margin-right: 15px;
  font-weight: normal;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  padding-right: 3px;
}
.btn-link-icon .btn__icon:first-child:last-child {
  margin-right: 0;
}
.btn-link-icon .btn__icon svg {
  width: 12px;
  height: 12px;
}
.btn-link-icon .btn__icon.btn__icon__size02 svg {
  width: 20px;
  height: 20px;
}
.btn-link-icon .btn__text {
  position: relative;
  top: 1px;
  letter-spacing: 0.14em;
  -webkit-transition: letter-spacing 0.2s linear;
  transition: letter-spacing 0.2s linear;
}
.btn-link-icon:hover {
  text-decoration: none;
  color: #1b0334;
}
.btn-link-icon:hover .btn__icon {
  color: #ffffff;
  background-color: #1b0334;
  border-color: #1b0334;
}
.btn__iconBg {
  color: #ffffff;
  background-color: #1b0334;
  border-color: #ffffff;
}
.btn-link-icon:hover .btn__iconBg {
  color: #1b0334;
  background-color: #ffffff;
  border-color: #1b0334;
}
.btn-link-icon__md {
  font-size: 15px;
}
.btn-link-icon.disabled {
  pointer-events: none;
}
.btn-link-icon.disabled .btn__icon {
  color: #d5d5d5;
}
.btn-link-icon.disabled .btn__text {
  color: #d5d5d5;
}

.btn-link-icon.btn-color-01 .btn__text {
  color: #ffffff;
}

.btn-link-icon.btn-color-01 .btn__icon {
  border-color: #ffffff;
  color: #ffffff;
}

.btn-link-icon.btn-color-01:hover {
  color: #ffffff;
}
.btn-link-icon.btn-color-01:hover .btn__icon {
  background-color: #ffffff;
  color: #2e3192;
}

.btn-link-icon.btn-color-02 .btn__text {
  color: #ffffff;
}

.btn-link-icon.btn-color-02 .btn__icon {
  border-color: #2e3192;
  background-color: #2e3192;
  color: #ffffff;
}

.btn-link-icon.btn-color-02:hover {
  color: #ffffff;
}
.btn-link-icon.btn-color-02:hover .btn__icon {
  border-color: #ebebeb;
  background-color: transparent;
  color: #2e3192;
}

.btn-top {
  margin-top: 36px;
}
@media (min-width: 576px) {
  .btn-top {
    margin-top: 46px;
  }
}

.btn.btn-color-01 {
  background: #ffffff;
  color: #2e3192;
}
.btn.btn-color-01:hover {
  background: #1e1e2d;
  color: #ffffff;
}

.btn-border {
  background-color: transparent;
  border: none;
  color: #1b0334;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.13em;
  position: relative;
  outline: none;
  padding: 4px 35px 4px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  border: 1px solid #b7b5cf;
  height: 60px;
  cursor: pointer;
  border-radius: 30px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  text-decoration: none;
}
.btn-border:hover {
  background-color: #1b0334;
  border-color: #1b0334;
  color: #ffffff;
}
.btn-border.btn-color-01 {
  color: #ffffff;
  border-color: #ffffff;
}
.btn-border.btn-color-01:hover:not(.no-hover) {
  background-color: #ffffff;
  color: #2e3192;
  border-color: #ffffff;
}

.link-default {
  color: #2e3192;
  font-size: 15px;
  letter-spacing: 0.13em;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  position: relative;
}
.link-default:before {
  content: "";
  display: block;
  position: absolute;
  bottom: 4px;
  width: 0%;
  height: 2px;
  margin: auto;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: #2e3192;
  -webkit-transition: width 0.2s linear;
  transition: width 0.2s linear;
}
.link-default:hover:before {
  width: 100%;
}
.link-default.size-lg {
  font-size: 16px;
}
.link-default.size-lg:before {
  bottom: 2px;
}

.link-icon-video {
  display: inline-block;
  position: relative;
}
.link-icon-video .icon-video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.link-icon-video .icon-video:before,
.link-icon-video .icon-video:after {
  content: "";
  display: block;
  position: absolute;
  -webkit-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
}
.link-icon-video .icon-video:before {
  width: 60px;
  height: 60px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  margin-top: -30px;
  margin-left: -30px;
}
.link-icon-video .icon-video:after {
  content: "";
  position: absolute;
  margin-left: -2px;
  margin-top: -5px;
  border: 5px solid transparent;
  border-left: 8px solid #ffffff;
  top: 50%;
  left: 50%;
}
.link-icon-video:hover .icon-video:before {
  background-color: #2e3192;
  border-color: #2e3192;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
.link-icon-video.color-reverse .icon-video:before {
  background-color: #2e3192;
  border-color: #2e3192;
}
.link-icon-video.color-reverse:hover .icon-video:before {
  background-color: transparent;
  border-color: #ffffff;
}

.link-icon-video02 {
  display: block;
  position: relative;
  outline: none;
  opacity: 0.9;
  transition: all 0.5s;
}
.link-icon-video02:hover {
  opacity: 1;
}

.link-icon-video02 .icon-video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
}
.link-icon-video02 .icon-video i {
  display: inline-block;
  width: 34px;
  height: 34px;
  background-color: #2e3192;
  border-radius: 50%;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.link-icon-video02 .icon-video:after {
  display: none;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -4px;
  margin-left: -3px;
  border: 4px solid transparent;
  border-left: 6px solid #ffffff;
}
.link-icon-video02 .icon-video:before {
  content: "";
  position: absolute;
  display: block;
  width: 135px;
  height: 35px;
  border: 1px solid #ffffff;
  border-radius: 4px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.link-icon-video02 .icon-video:hover i {
  -webkit-transform: scale(0.83);
  transform: scale(0.83);
}
.link-icon-video02 .icon-video:hover:before {
  -webkit-transform: scale(1.16);
  transform: scale(1.16);
}
@media (min-width: 791px) {
  .link-icon-video02 .icon-video i {
    width: 70px;
    height: 70px;
  }
  .link-icon-video02 .icon-video:after {
    border-width: 6px;
    border-left-width: 10px;
    margin-top: -6px;
    margin-left: -3px;
  }
  .link-icon-video02 .icon-video:before {
    width: 135px;
    height: 35px;
  }
}
@media (min-width: 1025px) {
  .link-icon-video02 .icon-video i {
    width: 107px;
    height: 107px;
  }
  .link-icon-video02 .icon-video:after {
    border-width: 8px;
    border-left-width: 14px;
    margin-top: -8px;
    margin-left: -3px;
  }
  .link-icon-video02 .icon-video:before {
    width: 148px;
    height: 48px;
  }
}

.list-icon {
  list-style: none;
  padding: 0;
  margin-top: -28px;
  margin-left: -40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.list-icon li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  margin-top: 31px;
  margin-left: 40px;
}
.list-icon__icon {
  margin-right: 20px;
  width: 49px;
}
.list-icon__title {
  color: #2e3192;
  font-size: 15px;
  line-height: 1.1;
  display: block;
  letter-spacing: -0.03em;
}
.list-icon__value {
  color: #1e1e2d;
  font-size: 20px;
  line-height: 1.1;
  display: block;
  min-width: 107px;
  margin-top: 6px;
}
.list-icon__description {
  padding-top: 2px;
}

p + .list-icon {
  margin-top: 11px;
}

.no-gutters.container-fluid {
  padding-left: 0;
  padding-right: 0;
  overflow: hidden;
}
@media (min-width: 791px) {
  .no-gutters.container-fluid {
    overflow: inherit;
  }
}

/*
	List
*/
.list-number {
  counter-reset: ordered-counter;
  list-style: none;
  padding: 0;
  margin: -4px 0 0 0;
}
.list-number li {
  counter-increment: ordered-counter;
  line-height: 1.75 !important;
  position: relative;
  margin-left: 34px;
  padding: 4px 0;
}
.list-number li:before {
  content: counter(ordered-counter) ".";
  color: #2e3192;
  line-height: 1.45;
  font-weight: bold;
  position: absolute;
  left: -34px;
  top: 6px;
  text-align: right;
  width: 20px;
}
.list-number li:nth-child(-n + 9):before {
  content: "0" counter(ordered-counter) ".";
}

.list-marker {
  list-style: none;
  margin: -4px 0 0 0;
  padding: 0;
}
.list-marker li {
  position: relative;
  padding: 4px 0 3px 29px;
  line-height: 30px;
}
.list-marker li:before {
  content: "";
  width: 5px;
  height: 5px;
  background-color: #2e3192;
  border-radius: 50%;
  position: absolute;
  top: 17px;
  left: 0;
}
.list-marker.small-inner {
  margin-top: 0;
}
.list-marker.small-inner li {
  line-height: 27px;
  padding: 0px 0 0px 13px;
}
.list-marker.small-inner li:before {
  width: 4px;
  height: 4px;
  top: 12px;
}

.list-marker-02 {
  list-style: none;
  margin: 0;
  padding: 0;
}
.list-marker-02 li {
  position: relative;
  padding: 10px 0 10px 41px;
  font-size: 17px;
}
.list-marker-02 li:before {
  content: "";
  width: 21px;
  height: 21px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  position: absolute;
  top: 16px;
  left: 0;
}
.list-marker-02 li:after {
  display: inline-block;
  position: absolute;
  top: 12px;
  left: 4px;
  content: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIj8+CjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIxM3B4IiBoZWlnaHQ9IjEzcHgiPgogICAgPHBhdGggc3R5bGU9IiBmaWxsOiAjZmZmZmZmOyBzdHJva2U6ICNmZmZmZmY7IGxpbmUtaGVpZ2h0Om5vcm1hbDt0ZXh0LWluZGVudDowO3RleHQtYWxpZ246c3RhcnQ7dGV4dC1kZWNvcmF0aW9uLWxpbmU6bm9uZTt0ZXh0LWRlY29yYXRpb24tc3R5bGU6c29saWQ7dGV4dC1kZWNvcmF0aW9uLWNvbG9yOiNmZmZmZmY7c3Ryb2NrOiNmZmZmZmY7dGV4dC10cmFuc2Zvcm06bm9uZTtibG9jay1wcm9ncmVzc2lvbjp0Yjtpc29sYXRpb246YXV0bzttaXgtYmxlbmQtbW9kZTpub3JtYWwiIGQ9Ik0gMjAuMjkyOTY5IDUuMjkyOTY4OCBMIDkgMTYuNTg1OTM4IEwgNC43MDcwMzEyIDEyLjI5Mjk2OSBMIDMuMjkyOTY4OCAxMy43MDcwMzEgTCA5IDE5LjQxNDA2MiBMIDIxLjcwNzAzMSA2LjcwNzAzMTIgTCAyMC4yOTI5NjkgNS4yOTI5Njg4IHoiIGZvbnQtd2VpZ2h0PSI0MDAiIGZvbnQtZmFtaWx5PSJzYW5zLXNlcmlmIiB3aGl0ZS1zcGFjZT0ibm9ybWFsIiBvdmVyZmxvdz0idmlzaWJsZSIvPgo8L3N2Zz4K");
  width: 10px;
  height: 10px;
  border: none;
}
.list-marker-02 li:last-child {
  padding-bottom: 0;
}

p + .list-marker-02 {
  margin-top: 27px;
}

.list-marker-03 {
  list-style: none;
  margin: -5px 0 -12px 0;
  padding: 0;
}
.list-marker-03 li {
  position: relative;
  padding: 11px 0 12px 35px;
  font-size: 17px;
}
@media (min-width: 1025px) {
  .list-marker-03 li {
    padding-left: 52px;
  }
}
.list-marker-03 li:before {
  content: "";
  width: 21px;
  height: 21px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  position: absolute;
  top: 15px;
  left: 0;
}
.list-marker-03 li:after {
  display: inline-block;
  position: absolute;
  top: 11px;
  left: 4px;
  content: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIj8+CjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIxM3B4IiBoZWlnaHQ9IjEzcHgiPgogICAgPHBhdGggc3R5bGU9IiBmaWxsOiAjZmZmZmZmOyBzdHJva2U6ICNmZmZmZmY7IGxpbmUtaGVpZ2h0Om5vcm1hbDt0ZXh0LWluZGVudDowO3RleHQtYWxpZ246c3RhcnQ7dGV4dC1kZWNvcmF0aW9uLWxpbmU6bm9uZTt0ZXh0LWRlY29yYXRpb24tc3R5bGU6c29saWQ7dGV4dC1kZWNvcmF0aW9uLWNvbG9yOiNmZmZmZmY7c3Ryb2NrOiNmZmZmZmY7dGV4dC10cmFuc2Zvcm06bm9uZTtibG9jay1wcm9ncmVzc2lvbjp0Yjtpc29sYXRpb246YXV0bzttaXgtYmxlbmQtbW9kZTpub3JtYWwiIGQ9Ik0gMjAuMjkyOTY5IDUuMjkyOTY4OCBMIDkgMTYuNTg1OTM4IEwgNC43MDcwMzEyIDEyLjI5Mjk2OSBMIDMuMjkyOTY4OCAxMy43MDcwMzEgTCA5IDE5LjQxNDA2MiBMIDIxLjcwNzAzMSA2LjcwNzAzMTIgTCAyMC4yOTI5NjkgNS4yOTI5Njg4IHoiIGZvbnQtd2VpZ2h0PSI0MDAiIGZvbnQtZmFtaWx5PSJzYW5zLXNlcmlmIiB3aGl0ZS1zcGFjZT0ibm9ybWFsIiBvdmVyZmxvdz0idmlzaWJsZSIvPgo8L3N2Zz4K");
  width: 10px;
  height: 10px;
  border: none;
}
.list-marker-03 li:last-child {
  padding-bottom: 0;
}

p + .list-marker-03 {
  margin-top: 34px;
}

.list-01 {
  margin: -12px 0;
}
.list-01 li a {
  color: #2e3192;
  font-weight: bold;
  font-size: 17px;
  line-height: 1.3;
  padding: 12px 0 11px;
  display: inline-block;
}
.list-01 li a span {
  display: inline-block;
  position: relative;
}
.list-01 li a span:before {
  content: "";
  display: block;
  position: absolute;
  bottom: -3px;
  width: 0%;
  height: 2px;
  margin: auto;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: #2e3192;
  -webkit-transition: width 0.2s linear;
  transition: width 0.2s linear;
}
.list-01 li a:hover span:before {
  width: 100%;
}

.list-border {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-top: -10px;
  margin-left: -10px;
}
.list-border li {
  margin: 10px 0 0 10px;
}
.list-border li a {
  display: inline-block;
  border: 1px solid #b7b5cf;
  border-radius: 3px;
  color: #000000;
  text-decoration: none;
  padding: 8px 11px 6px;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.06em;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.list-border li a:hover {
  background-color: #2e3192;
  border-color: #2e3192;
  color: #ffffff;
}

.list-link-icon {
  margin: 0;
  padding: 0;
}
.list-link-icon li:not(:first-child) {
  margin-top: 20px;
}

/*
	Blockquote
*/
.blockquote-quote {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 28px;
  font-style: italic;
}
.blockquote-quote .blockquote-icon {
  display: inline-block;
  float: left;
  width: 60px;
  height: 30px;
  position: relative;
  top: 2px;
}

.sub-title + .blockquote-quote {
  margin-top: 23px;
}

/*
	Box
*/
.wrapper-box01 {
  padding: 39px 30px 39px 30px;
  background-color: #2e3192;
  color: #ffffff;
  position: relative;
  overflow: hidden;
}
.wrapper-box01 .sub-title {
  color: #ffffff;
}
.wrapper-box01 .sub-title + p {
  margin-top: 0;
}
@media (min-width: 791px) {
  .wrapper-box01 {
    padding: 49px 60px 59px;
  }
}
@media (min-width: 1025px) {
  .wrapper-box01 {
    padding: 59px 65px 79px 70px;
  }
}

/*
	Table
*/
.table-value {
  max-width: 612px;
}
.table-value tr td {
  padding-top: 6px;
  padding-bottom: 6px;
}
.table-value tr td:first-child {
  color: #1e1e2d;
  font-weight: bold;
  padding-right: 7px;
  width: 296px;
}

.table-description .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid #dbdbdb;
  padding: 26px 0;
}
.table-description .item .col-img a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear;
}
.table-description .item .col-img a .table-description__title {
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear;
}
.table-description .item .col-img a:hover {
  color: #2e3192;
}
.table-description .item .col-img a:hover .table-description__title {
  color: #2e3192;
}
.table-description .item .col-img img {
  max-width: 70px;
  margin-right: 30px;
}
.table-description .item .table-description__title {
  color: #5a5a5a;
  padding: 0;
  margin: 0;
  font-weight: normal;
}

/*
	Extra block
*/
.extra-block01 {
  position: relative;
  display: none;
}
.extra-block01:before {
  content: "";
  width: 622px;
  height: 293px;
  background-color: #2e3192;
  display: inline-block;
  position: absolute;
  left: 100px;
  top: -171px;
  z-index: 0;
}
@media (min-width: 1700px) {
  .extra-block01 {
    display: block;
  }
}

.extra-block02 {
  position: relative;
  display: none;
}
.extra-block02:before {
  content: "";
  width: 622px;
  height: 487px;
  background-color: #2e3192;
  display: inline-block;
  position: absolute;
  right: 100px;
  top: -344px;
  z-index: 0;
}
@media (min-width: 1700px) {
  .extra-block02 {
    display: block;
  }
}

/*
	Custom section table, mobile
*/
@media (max-width: 1229.98px) {
  #mainContent .container:not(.container-fluid-lg-nogutters) {
    max-width: inherit;
    width: 100%;
    padding-left: 25px;
    padding-right: 25px;
  }
}

@media (max-width: 790.98px) {
  #mainContent .container:not(.container-fluid-lg-nogutters) {
    padding-left: 19px;
    padding-right: 19px;
  }
}

.element-list {
  margin-top: -46px;
  text-align: center;
}
.element-list__item {
  margin-top: 60px;
}
@media (min-width: 576px) {
  .element-list__item {
    margin-top: 100px;
  }
}
@media (min-width: 1025px) {
  .element-list__item {
    margin-top: 130px;
  }
}
.element-list__title {
  font-size: 17px;
  line-height: 1.2;
  color: #787878;
}
.element-list__title + *:not([class^="col-"]) {
  margin-top: 29px;
}
.element-list .btn-link-icon.hover .btn__icon {
  background-color: #2e3192;
  color: #ffffff;
}
.element-list .btn-link-icon.hover.btn-color-02 .btn__icon {
  border-color: #ebebeb;
  background-color: transparent;
  color: #2e3192;
}
.element-list .btn.hover {
  background-color: #ffffff;
  color: #2e3192;
}
.element-list .form-group + .element-list__title {
  margin-top: 57px;
}
.element-list .ukform-default .form-group:not(:first-child) {
  margin-top: 30px;
}
.element-list .wrapper-select-for-title {
  margin-top: 50px;
}
.element-list .input-active .form-control {
  border-color: #2e3192;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.content-container {
  line-height: 27px;
}
.content-container p {
  margin-top: 27px;
}
.content-container .sub-title__top {
  margin-top: 85px;
}

.link-simple-fade {
  opacity: 1;
  -webkit-transition: opacity 0.4s linear;
  transition: opacity 0.4s linear;
}
.link-simple-fade:hover {
  opacity: 0.5;
}

p + .list-img {
  margin-top: 30px;
}

.list-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-left: -20px;
  margin-top: -20px;
}
.list-img li {
  margin-left: 20px;
  margin-top: 20px;
}

/*
	Color
*/
.base-color-01 {
  color: #2e3192;
}

.base-color-02 {
  color: #333333;
}

.layout-color-01 {
  color: #ffffff;
}
.layout-color-01 .section-heading .description {
  color: #ffffff;
}
.layout-color-01 .section-heading .description i {
  background-color: #ffffff;
}
.layout-color-01 .section-heading .description:before {
  background-color: #ffffff;
}
.layout-color-01 .section-heading .title {
  color: #ffffff;
}
.layout-color-01 .titleblock__icon svg {
  fill: #ffffff;
}
.layout-color-01 .titleblock__title {
  color: #ffffff;
}
.layout-color-01 .btn-link-icon {
  color: #ffffff;
}
.layout-color-01 .btn-link-icon:hover .btn__icon {
  background-color: #ffffff;
  color: #2e3192;
}
.layout-color-01 .ukform-default .form-group .placeholder-label {
  color: #ffffff;
}
.layout-color-01 .list-marker li:before {
  background-color: #ffffff;
}
.layout-color-01 .btn-link-icon:hover .btn__icon {
  border-color: #ffffff;
}

/*---------------------------------------*/
/*--------   4. Header         --------*/
/*---------------------------------------*/
/*
	Header Layout
*/
#top-bar {
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  position: fixed;
  z-index: 17;
  border-bottom: 1px solid #ebebeb;
  -webkit-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
}
#top-bar .container-fluid {
  padding-left: 0;
  padding-right: 0;
}
#top-bar [class^="col-"].side-col {
  min-width: 230px;
}
#top-bar [class^="col-"].side-col:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
#top-bar [class^="col-"].side-col:last-child {
  text-align: right;
}
@media (min-width: 1230px) {
  #top-bar [class^="col-"].side-col {
    min-width: 260px;
  }
}
#top-bar .row {
  height: 67px;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-transition: height 0.2s linear;
  transition: height 0.2s linear;
}
@media (min-width: 1025px) {
  #top-bar .row {
    height: 99px;
  }
}
@media (max-width: 1024.98px) {
  #top-bar .row [class^="col-"]:not(:first-child) {
    display: none;
  }
  #top-bar .row [class^="col-"]:first-child {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-flex: 2;
    -ms-flex: 2 1 auto;
    flex: 2 1 auto;
  }
  #top-bar .row [class^="col-"]:first-child #top-bar__navigation-toggler {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }
}
#top-bar:not(.no-indent-mainContent) {
  background-color: #ffffff;
}
#top-bar:not(.no-indent-mainContent) + * {
  margin-top: 68px;
}
@media (min-width: 1025px) {
  #top-bar:not(.no-indent-mainContent) + * {
    margin-top: 100px;
  }
}
#top-bar.no-indent-mainContent + * {
  margin-top: 68px;
}
@media (min-width: 1025px) {
  #top-bar.no-indent-mainContent + * {
    margin-top: 0px;
  }
}
#top-bar.stuck {
  background-color: #ffffff;
}
@media (min-width: 1025px) {
  #top-bar.stuck .row {
    height: 70px;
  }
}
#top-bar-bbtn.stuck::before {
  display: block;
}
#top-bar.stuck #top-bar__navigation > ul > li > a span {
  padding-top: 25px;
}
#top-bar.stuck .top-bar__custom-btn {
  height: 71px;
}
#top-bar.stuck .btn-cart {
  top: 19px;
}
@media (min-width: 1025px) {
  #top-bar.color-scheme01:not(.stuck) {
    border-bottom: none;
  }
  #top-bar.color-scheme01:not(.stuck) #top-bar__navigation-toggler,
  #top-bar.color-scheme01:not(.stuck) .top-bar__logo {
    color: #ffffff;
  }
  #top-bar.color-scheme01:not(.stuck) #top-bar__navigation > ul > li > a {
    color: #ffffff;
  }
  #top-bar.color-scheme01:not(.stuck)
    #top-bar__navigation
    > ul
    > li
    > a
    span:before {
    background-color: #ffffff;
  }
  #top-bar.color-scheme01:not(.stuck)
    #top-bar__navigation
    > ul
    > li.is-submenu
    > a
    span:after {
    border-top-color: #ffffff;
  }
  #top-bar.color-scheme01:not(.stuck) .btn-cart__icon {
    fill: #ffffff;
  }
}
@media (min-width: 1025px) {
  #top-bar .hide-object-desktop {
    opacity: 0;
    pointer-events: none;
  }
}

/*
	Header Objects
*/
#top-bar__navigation-toggler {
  padding: 20px 32px 26px 25px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: #1e1e2d;
  position: relative;
  top: 3px;
  outline: none;
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear;
}
@media (min-width: 1230px) {
  #top-bar__navigation-toggler {
    padding: 20px 48px 26px 45px;
  }
}
#top-bar__navigation-toggler span {
  position: relative;
  width: 18px;
  height: 2px;
  display: inline-block;
  background-color: currentColor;
}
#top-bar__navigation-toggler span:before,
#top-bar__navigation-toggler span:after {
  content: "";
  position: absolute;
  width: 25px;
  height: 2px;
  background-color: currentColor;
}
#top-bar__navigation-toggler span:before {
  top: -6px;
}
#top-bar__navigation-toggler span:after {
  bottom: -6px;
}
#top-bar__navigation-toggler:hover {
  color: #2e3192;
}

#nav-aside {
  position: fixed;
  top: 0;
  z-index: 18;
  display: block;
  margin: 0;
  padding-bottom: 60px;
  background-color: #1b0334;
  left: 0px;
  height: 100%;
  width: 320px;
  max-width: inherit;
  text-align: left;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
#nav-aside.aside-open {
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
}
#nav-aside #nav-aside_menu {
  margin-top: -10px;
}
@media (min-width: 1025px) {
  #nav-aside #nav-aside_menu {
    display: none;
  }
}
#nav-aside .nav-aside__close {
  display: block;
  min-height: 100px;
  padding: 32px 0 0 36px;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  font-size: 29px;
  line-height: 1.2;
  letter-spacing: -0.03em;
}
#nav-aside .nav-aside__close .icon {
  display: inline-block;
  position: absolute;
  right: 35px;
  top: 33px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
#nav-aside .nav-aside__close .icon svg {
  width: 16px;
  height: 16px;
}
#nav-aside .nav-aside__close:hover {
  text-decoration: none;
}
#nav-aside .nav-aside__close + * {
  margin-top: 42px;
}
@media (min-width: 1025px) {
  #nav-aside .nav-aside__close {
    padding: 32px 0 0 95px;
  }
  #nav-aside .nav-aside__close .icon {
    margin-right: 33px;
    position: absolute;
    top: 33px;
    left: 41px;
    right: inherit;
  }
  #nav-aside .nav-aside__close .icon svg {
    width: 16px;
    height: 16px;
  }
}
#nav-aside .nav-aside__content {
  padding: 0 0 0 44px;
}
@media (min-width: 1025px) {
  #nav-aside .nav-aside__close:hover .icon {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    top: 32px;
  }
}
#nav-aside .nav-asid__list {
  display: none;
  padding-bottom: 9px;
}
#nav-aside .nav-asid__list li a {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  font-size: 16px;
  line-height: 1.1;
  font-weight: bold;
  display: inline-block;
  padding: 17px 0 16px;
  position: relative;
  text-decoration: none;
}
#nav-aside .nav-asid__list li a:before {
  content: "";
  position: absolute;
  bottom: 7px;
  background-color: #ffffff;
  display: inline-block;
  width: 0px;
  height: 2px;
  -webkit-transition: width 0.2s linear;
  transition: width 0.2s linear;
}
#nav-aside .nav-asid__list li a:hover {
  text-decoration: none;
}
#nav-aside .nav-asid__list li a:hover:before {
  width: 39px;
}
#nav-aside address {
  font-size: 14px;
  line-height: 25px;
  color: #ffffff;
  font-weight: 500;
  margin: 28px 0 0 0;
  padding: 0;
}
#nav-aside address a {
  color: #ffffff;
  text-decoration: none;
}
#nav-aside address a:hover {
  text-decoration: underline;
}
#nav-aside .social-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: -12px;
  margin-top: 25px;
}
#nav-aside .social-icon li {
  margin-left: 12px;
  margin-top: 10px;
}
#nav-aside .social-icon li a {
  width: 40px;
  height: 40px;
  display: inline-block;
  text-align: center;
  line-height: 2;
  border: 1px solid #7d7d89;
  border-radius: 50%;
  color: #ffffff;
  background-color: transparent;
  -webkit-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
}
#nav-aside .social-icon li a:hover {
  background-color: #484854;
}
#nav-aside .btn-custom {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #ffffff;
  color: #1b0334;
  font-weight: bold;
  padding: 15px 15px 15px;
  font-size: 16px;
  line-height: 1.1;
  height: 66px;
  font-weight: bold;
  margin-top: 49px;
  text-decoration: none;
  min-width: 190px;
  letter-spacing: 0.12em;
  border: 1px solid #ffffff;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
#nav-aside .btn-custom:not(.btn-custom-02) {
  visibility: hidden;
}
#nav-aside .btn-custom:hover {
  text-decoration: none;
  color: #ffffff;
  background-color: transparent;
}
@media (min-width: 1025px) {
  #nav-aside {
    background-color: #1b0334;
    width: 397px;
  }
  #nav-aside #nav-aside_menu {
    display: none;
  }
  #nav-aside .nav-asid__list {
    display: block;
  }
  #nav-aside .nav-aside__content {
    padding: 0 0 0 100px;
  }
  #nav-aside .nav-asid__list {
    display: block;
  }
  #nav-aside .btn-custom.btn-custom-02 {
    visibility: visible;
  }
}

#top-bar__navigation {
  display: none;
}
#top-bar__navigation > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
#top-bar__navigation > ul > li {
  position: relative;
}
#top-bar__navigation > ul > li > a {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.03em;
  padding: 0 10px;
  color: #333333;
  font-weight: bold;
  text-decoration: none;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
@media (min-width: 1230px) {
  #top-bar__navigation > ul > li > a {
    padding: 0 17px;
  }
}
@media (min-width: 1370px) {
  #top-bar__navigation > ul > li > a {
    padding: 0 24px;
  }
}
#top-bar__navigation > ul > li > a span {
  position: relative;
  display: inline-block;
  padding-top: 44px;
  padding-bottom: 28px;
  -webkit-transition: padding 0.2s linear;
  transition: padding 0.2s linear;
}
#top-bar__navigation > ul > li > a span:before {
  /* content: "";
  display: block;
  position: absolute;
  top: 4px;
  width: 0%;
  height: 3px;
  margin: auto;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: #2e3192;
  -webkit-transition: width 0.2s linear;
  transition: width 0.2s linear; */
}
#top-bar__navigation > ul > li > a:hover {
  color: #2e3192;
}
#top-bar__navigation > ul > li .is-hover {
  color: #2e3192;
}
#top-bar__navigation > ul > li.is-submenu > a span:after {
  content: "";
  position: absolute;
  bottom: 8px;
  left: 2px;
  border: 3px solid transparent;
  border-top: 4px solid #2e3192;
}
#top-bar__navigation > ul > li ul {
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
  display: block;
  margin: 0 0 0 -17px;
  padding: 27px 0 25px 0;
  width: 202px;
  position: absolute;
  z-index: 7;
  top: auto;
  left: 0px;
  background-color: #1e1e2d;
}
#top-bar__navigation > ul > li ul li {
  display: block;
  position: relative;
}
#top-bar__navigation > ul > li ul li a {
  color: #ffffff;
  font-size: 15px;
  line-height: 22px;
  padding: 9px 45px 9px 45px;
  display: block;
  position: relative;
  text-decoration: none;
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear;
}
#top-bar__navigation > ul > li ul li a:hover,
#top-bar__navigation > ul > li ul li a.active,
#top-bar__navigation > ul > li ul li a.is-hover {
  color: #9595a2;
}
#top-bar__navigation > ul > li ul li a:before {
  content: "";
  display: block;
  position: absolute;
  bottom: 5px;
  width: 0%;
  height: 2px;
  left: 45px;
  z-index: 10;
  background-color: #2e3192;
  -webkit-transition: width 0.2s linear;
  transition: width 0.2s linear;
}
#top-bar__navigation > ul > li ul li a:hover:before {
  width: 31px;
}
#top-bar__navigation > ul > li ul li.active > a {
  color: #9595a2;
  pointer-events: none;
}
#top-bar__navigation > ul > li ul li.active > a:before {
  width: 31px;
}
#top-bar__navigation > ul > li ul ul {
  margin-top: -18px;
}
#top-bar__navigation > ul > li ul ul:not(.right-popup) {
  top: 0;
  left: 100%;
}
#top-bar__navigation > ul > li ul ul.right-popup {
  left: -100%;
  top: 0;
}
#top-bar__navigation > ul > li.active > a {
  pointer-events: none;
  color: #2e3192;
}
#top-bar__navigation > ul > li.active > a span:before {
  width: 100%;
}
#top-bar__navigation > ul li:hover > ul {
  visibility: visible;
  pointer-events: auto;
  opacity: 1;
  z-index: 9;
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}
@media (min-width: 1025px) {
  #top-bar__navigation {
    display: inline-block;
  }
}

#nav-aside_menu > ul {
  width: 188px;
}
#nav-aside_menu > ul > li {
  position: relative;
}
#nav-aside_menu > ul > li > a {
  color: #ffffff;
  font-size: 15px;
  line-height: 22px;
  font-weight: 800;
  letter-spacing: -0.03em;
  padding: 14px 10px 14px 0px;
  display: block;
  position: relative;
  text-decoration: none;
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear;
}
#nav-aside_menu > ul > li > a span {
  display: inline-block;
  position: relative;
}
#nav-aside_menu > ul > li > a span:before {
  content: "";
  display: block;
  position: absolute;
  bottom: -5px;
  width: 0%;
  height: 2px;
  margin: auto;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: #9395e3;
  -webkit-transition: width 0.2s linear;
  transition: width 0.2s linear;
}
#nav-aside_menu > ul > li ul {
  display: none;
  margin: 0px 0 10px 27px;
}
#nav-aside_menu > ul > li ul li {
  position: relative;
}
#nav-aside_menu > ul > li ul li:before {
  content: "";
  width: 4px;
  height: 4px;
  background-color: #ffffff;
  border-radius: 50%;
  position: absolute;
  top: 22px;
  left: 0;
}
#nav-aside_menu > ul > li ul li a {
  color: #ffffff;
  font-size: 16px;
  line-height: 22px;
  padding: 14px 0 14px 12px;
  text-decoration: none;
  display: block;
}
#nav-aside_menu > ul > li ul li.active > a {
  color: #9395e3;
}
#nav-aside_menu > ul > li.is-submenu:after {
  content: "";
  width: 7px;
  height: 7px;
  border-right: 2px solid #ffffff;
  border-top: 2px solid #ffffff;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  display: inline-block;
  position: absolute;
  right: 2px;
  top: 19px;
}
#nav-aside_menu > ul > li.is-open:after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
#nav-aside_menu > ul > li.is-open > a {
  color: #9395e3;
}
#nav-aside_menu > ul > li.is-open > a span:before {
  width: 100%;
}
#nav-aside_menu > ul > li.is-open ul {
  display: block;
}
#nav-aside_menu > ul > li.active > a span:before {
  width: 100%;
}

.top-bar__custom-btn {
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #ffffff;
  font-weight: bold;
  padding: 14px 15px 15px;
  font-size: 16px;
  line-height: 1.1;
  letter-spacing: 0.13em;
  position: relative;
  height: 100px;
  text-decoration: none;
  -webkit-transition: height 0.2s linear 0s;
  transition: height 0.2s linear 0s;
}
.top-bar__custom-btn span {
  display: inline-block;
  position: relative;
  z-index: 2;
}
.top-bar__custom-btn:before {
  display: none;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #1b0334;
  z-index: 1;
  -webkit-transform: scale(-1);
  transform: scale(-1);
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.top-bar__custom-btn:hover {
  color: #ffffff;
  text-decoration: none;
}
.top-bar__custom-btn:hover:before {
  -webkit-transform: scale(-0.82);
  transform: scale(-0.82);
}
@media (min-width: 1025px) {
  .top-bar__custom-btn {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    min-width: 175px;
    height: 100px;
  }
}
@media (min-width: 1230px) {
  .top-bar__custom-btn {
    min-width: 217px;
  }
}

.btn-cart {
  text-decoration: none;
  display: inline-block;
  position: absolute;
  left: -10px;
  top: 32px;
  -webkit-transition: top 0.2s linear;
  transition: top 0.2s linear;
}
.btn-cart__icon {
  fill: #1e1e2d;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}
.btn-cart__icon svg {
  width: 25px;
  height: 23px;
}
.btn-cart__badge {
  width: 19px;
  height: 19px;
  color: #ffffff;
  background-color: #2e3192;
  border-radius: 50%;
  display: inline-block;
  font-size: 11px;
  line-height: 1.8;
  text-align: center;
  position: absolute;
  top: -6px;
  right: -21px;
}
.btn-cart:hover .btn-cart__icon {
  fill: #2e3192;
}
@media (min-width: 1400px) {
  .btn-cart {
    left: -25px;
  }
}
@media (min-width: 1400px) {
  .btn-cart {
    left: -57px;
  }
}

.top-bar__logo {
  font-family: "Montserrat", sans-serif;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 30px;
  line-height: 1.2;
  color: #1e1e2d;
  font-weight: bold;
  text-decoration: none;
  letter-spacing: -0.06em;
  padding: 20px 25px 20px 18px;
}
@media (min-width: 576px) {
  .top-bar__logo {
    padding: 20px 25px 20px 25px;
  }
}
@media (min-width: 1025px) {
  .top-bar__logo {
    padding: 20px 10px 20px 0;
  }
}
.top-bar__logo:hover {
  text-decoration: none;
  color: #1e1e2d;
}

/*---------------------------------------*/
/*--------   5. Footer         --------*/
/*---------------------------------------*/
.footer-bg01 {
  background-color: #1e1e2d;
  color: #ffffff;
}

.footer-bg02 {
  background-color: #1a222f;
  color: #ffffff;
}

#footer {
  /* layout */
  /* objects */
}
#footer:not(.no-indent) {
  margin-top: 100px;
}
@media (min-width: 576px) {
  #footer:not(.no-indent) {
    margin-top: 146px;
  }
}
#footer a {
  color: #ffffff;
  text-decoration: none;
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear;
}
#footer a:hover {
  color: #848484;
}
@media (max-width: 1229.98px) {
  #footer .container {
    max-width: inherit;
    width: 100%;
    padding-left: 25px;
    padding-right: 25px;
  }
}
@media (max-width: 790.98px) {
  #footer .container {
    padding-left: 19px;
    padding-right: 19px;
  }
}
#footer .footer-col:not(.indent-small) {
  padding: 43px 0;
}
@media (min-width: 791px) {
  #footer .footer-col:not(.indent-small) {
    padding: 100px 0 91px;
  }
}
#footer .footer-col.indent-small {
  padding: 43px 0;
}
@media (min-width: 791px) {
  #footer .footer-col.indent-small {
    padding: 100px 0 52px;
  }
}
#footer .list-col {
  margin-top: 0px;
  margin-bottom: -22px;
}
#footer .list-col > .row [class^="col-"] {
  margin-top: 0px;
}
@media (min-width: 791px) {
  #footer .list-col {
    margin-top: -60px;
    margin-bottom: 0px;
  }
  #footer .list-col > .row [class^="col-"] {
    margin-top: 60px;
  }
}
#footer .footer-custom {
  border-top: 1px solid #34343d;
  text-align: center;
}
@media (min-width: 791px) {
  #footer .footer-custom {
    text-align: left;
  }
}
#footer .footer-custom .text-right {
  text-align: center;
}
@media (min-width: 791px) {
  #footer .footer-custom .text-right {
    text-align: right;
  }
}
#footer .footer-custom .social-icon {
  margin-bottom: 25px;
}
@media (min-width: 791px) {
  #footer .footer-custom .social-icon {
    margin-bottom: 0;
  }
}
#footer .footer-custom02 {
  text-align: center;
}
@media (min-width: 791px) {
  #footer .footer-custom02 {
    text-align: left;
  }
}
#footer .footer__logo {
  color: #ffffff;
  font-size: 29px;
  line-height: 1.2;
  font-weight: bold;
  letter-spacing: -0.02em;
  font-family: "Montserrat", sans-serif;
  padding: 25px 0;
  display: inline-block;
}
#footer .footer__logo:hover {
  color: #ffffff;
}
#footer .col-mobile-down {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
}
@media (min-width: 1025px) {
  #footer .col-mobile-down {
    -webkit-box-ordinal-group: inherit;
    -ms-flex-order: inherit;
    order: inherit;
  }
}
#footer .copyright {
  color: #848484;
  font-size: 15px;
  line-height: 1;
  padding: 32px 0 0px;
}
@media (min-width: 791px) {
  #footer .copyright {
    padding: 32px 0 30px;
  }
}
#footer address {
  font-size: 15px;
  line-height: 30px;
}
#footer address a {
  color: #ffffff;
}
#footer .social-icon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: -10px;
  margin-top: -10px;
}
#footer .social-icon li {
  margin-left: 10px;
  margin-top: 10px;
}
#footer .social-icon li a {
  width: 40px;
  height: 40px;
  display: inline-block;
  text-align: center;
  line-height: 2;
  border: 1px solid #484854;
  border-radius: 50%;
  color: #ffffff;
  background-color: transpareant;
  -webkit-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
}
#footer .social-icon li a:hover {
  background-color: #484854;
}
#footer .footer-menu nav > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 20px 0 24px;
}
#footer .footer-menu nav > ul > li > a {
  color: #c8c8cd;
  display: inline-block;
  font-size: 15px;
  line-height: 1.1;
  padding: 5px 10px 5px;
  font-weight: bold;
}
#footer .footer-menu nav > ul > li > a span {
  display: inline-block;
  position: relative;
}
#footer .footer-menu nav > ul > li > a span:before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  right: 0;
  height: 1px;
  width: 0%;
  margin: auto;
  background-color: #c8c8cd;
  -webkit-transition: width 0.2s linear;
  transition: width 0.2s linear;
}
#footer .footer-menu nav > ul > li > a:hover {
  color: #ffffff;
}
#footer .footer-menu nav > ul > li > a:hover span:before {
  width: 100%;
}
@media (min-width: 791px) {
  #footer .footer-menu nav > ul {
    padding: 0;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  #footer .footer-menu nav > ul > li > a {
    padding: 31px 10px 30px;
  }
}
@media (min-width: 1025px) {
  #footer .footer-menu nav > ul > li > a {
    padding: 31px 15px 30px;
  }
}
#footer .list {
  margin-top: -1px;
  margin-bottom: -10px;
}
#footer .list li {
  font-size: 15px;
  line-height: 1.1;
  color: #ffffff;
}
#footer .list li a {
  position: relative;
  display: inline-block;
  color: #ffffff;
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear;
  padding: 9px 0 10px;
}
#footer .list li a:before {
  content: "";
  display: block;
  position: absolute;
  bottom: 8px;
  left: 0;
  right: 0;
  height: 1px;
  width: 0%;
  margin: auto;
  background-color: #868686;
  -webkit-transition: width 0.2s linear;
  transition: width 0.2s linear;
}
#footer .list li a:hover {
  color: #868686;
}
#footer .list li a:hover:before {
  width: 100%;
}
#footer .list li:not(:first-child) {
  margin-top: 5px;
}
#footer .mobile-collapse:not(.no-collapse) .footer-title:after {
  position: absolute;
  top: 19px;
  right: 0;
  color: #ffffff;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'  viewBox='0 0 15.56 15.562'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %23ffffff; fill-rule: currentColor; %7D %3C/style%3E%3C/defs%3E%3Cpath id='Rectangle_17_copy' data-name='Rectangle 17 copy' class='cls-1' d='M1304.57,479.722l0.71,0.707-14.85,14.849-0.71-.707Zm-14.14,0,14.85,14.849-0.71.707-14.85-14.849Z' transform='translate(-1289.72 -479.719)'/%3E%3C/svg%3E%0A");
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 16px;
  height: 15px;
}
#footer .mobile-collapse:not(.no-collapse) .footer-title.is-open:after {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}
#footer .mobile-collapse:not(.no-collapse) .pt-collapse-content {
  display: none;
}
@media (min-width: 791px) {
  #footer .mobile-collapse:not(.no-collapse) .pt-collapse-content {
    display: block;
  }
}
#footer .mobile-collapse.no-collapse .footer-title {
  text-align: center;
}
@media (min-width: 791px) {
  #footer .mobile-collapse.no-collapse .footer-title {
    text-align: left;
  }
}
#footer .mobile-collapse .footer-title {
  font-size: 16px;
  line-height: 1;
  letter-spacing: inherit;
  font-weight: bold;
  padding: 20px 0 20px 0;
  margin: 0;
  cursor: pointer;
  color: #ffffff;
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear;
  position: relative;
}
#footer .mobile-collapse .footer-title:hover {
  color: #868686;
}
#footer .mobile-collapse .pt-collapse-content {
  padding-bottom: 20px;
}
@media (min-width: 791px) {
  #footer .mobile-collapse .footer-title {
    cursor: inherit;
    padding: 0 0 28px 0;
  }
  #footer .mobile-collapse .footer-title:after {
    display: none;
  }
  #footer .mobile-collapse .footer-title:hover {
    color: inherit;
  }
  #footer .mobile-collapse .pt-collapse-content {
    display: block;
    padding-bottom: 0;
  }
}
#footer .newsletter-01 {
  margin-top: 15px;
  /* placeholder */
}
#footer .newsletter-01 .form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
#footer .newsletter-01 .form-group input {
  background-color: transparent;
  border: 1px solid #494d54;
  color: #ffffff;
  height: 65px;
  border-radius: 3px;
  padding: 7px 0 7px 22px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  outline: none;
  width: 188px;
}
@media (min-width: 576px) {
  #footer .newsletter-01 .form-group input {
    width: 262px;
  }
}
#footer .newsletter-01 .form-group button {
  margin-left: -3px;
  height: 65px;
  background-color: #ffffff;
  color: #2e3192;
  font-size: 15px;
  line-height: 1.2;
  padding: 6px 27px 5px;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  outline: none;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
#footer .newsletter-01 .form-group button:hover {
  background-color: #2e3192;
  color: #ffffff;
}
#footer .newsletter-01 .checkbox-group {
  margin-top: 17px;
}
#footer .newsletter-01 .checkbox-group label {
  color: #9e9ea4;
}
#footer .newsletter-01 .checkbox-group label a {
  color: #9e9ea4;
  display: inline-block;
  position: relative;
}
#footer .newsletter-01 .checkbox-group label a:before {
  content: "";
  display: block;
  position: absolute;
  bottom: 1px;
  left: 0;
  right: 0;
  height: 1px;
  width: 100%;
  margin: auto;
  background-color: #868686;
  -webkit-transition: width 0.2s linear;
  transition: width 0.2s linear;
}
#footer .newsletter-01 .checkbox-group label a:hover:before {
  width: 0;
}
#footer .newsletter-01 .checkbox-group label .box {
  background-color: transparent;
  border-color: #686868;
  border-radius: 3px;
}
#footer .newsletter-01 .checkbox-group label .check {
  background-color: transparent;
  border-color: #686868;
}
#footer .newsletter-01 ::-webkit-input-placeholder {
  color: #ffffff;
}
#footer .newsletter-01 ::-moz-placeholder {
  color: #ffffff;
}
#footer .newsletter-01 :-moz-placeholder {
  color: #ffffff;
}
#footer .newsletter-01 :-ms-input-placeholder {
  color: #ffffff;
}
#footer .newsletter-01 ::-moz-placeholder,
#footer .newsletter-01 :-moz-placeholder {
  opacity: 1;
}
#footer .newsletter-01 input:focus::-webkit-input-placeholder {
  color: transparent;
}
#footer .newsletter-01 input:focus:-moz-placeholder {
  color: transparent;
}
#footer .newsletter-01 input:focus::-moz-placeholder {
  color: transparent;
}
#footer .newsletter-01 input:focus:-ms-input-placeholder {
  color: transparent;
}

#footer label.error {
  color: #9e0b0f;
  font-size: 12px;
  line-height: 27px;
  margin-left: 25px;
  margin-top: 6px;
  position: absolute;
  top: 23px;
  left: 0;
  margin-left: 40px;
}

/*---------------------------------------*/
/*--------   6. Section layout   --------*/
/*---------------------------------------*/
/*
	Section Wrapper
*/
.section--bg-vertical-line {
  /* background-image: url("../images/sectionbg_vertical_line2.png");
  background-position: 18px top;
  background-repeat: repeat-y; */
}
@media (min-width: 576px) {
  .section--bg-vertical-line {
    /* background-image: url("../images/sectionbg_vertical_line.png");
    background-position: center top; */
  }
}

.section--bg-wrapper-01 {
  background-position: center top;
  background-repeat: no-repeat;
}

.section--bg-wrapper-02 {
  background-position: 0 0;
  background-repeat: repeat-x;
}

.section--bg-wrapper-03 {
  background-color: #ffffff;
  background-position: 0 0;
  background-repeat: repeat-x;
}

.section--bg-wrapper-04 {
  background-color: #1b0334;
  background-position: 0 0;
  background-repeat: repeat-x;
}
.section--bg-wrapper-04.section__indent-right {
  background-position: right 0;
}

.section--bg-wrapper-05 {
  background: url("../images/header-wrapper-01.png") center top repeat-x;
}

@media (min-width: 1800px) {
  .section--bg-wrapper-06 {
    background-size: 25% auto;
  }
}

@media (min-width: 791px) {
  .section--bg-wrapper-06 {
    background: url("../images/section-bg/sectionbg_wrapper-05.png");
    background-position: right top;
    background-repeat: no-repeat;
    background-size: 24% auto;
  }
}

@media (min-width: 1230px) {
  .section--bg-wrapper-06 {
    background-size: 21% auto;
  }
}

@media (min-width: 1230px) {
  .section--bg-wrapper-06 {
    background-size: 28% auto;
  }
}

.section--bg-wrapper-bottom {
  position: relative;
}
.section--bg-wrapper-bottom:before {
  content: "";
  background-color: #ffffff;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 395px;
  z-index: 1;
}
.section--bg-wrapper-bottom > * {
  position: relative;
  z-index: 2;
}

.section--bg-00 {
  background-color: #ffffff;
}

.section--bg-01 {
  background-color: #ffffff;
}

.section--bg-02 {
  background-color: #f9f9f9;
}

.section--bg-03 {
  background-color: #1b0334;
}

.section--pr {
  position: relative;
}

@media (max-width: 1229.98px) {
  .container-fluid-lg-nogutters {
    width: 100%;
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
    margin-right: auto;
    margin-left: auto;
  }
}

.bg-base {
  background-color: #2e3192;
}

.section--bg-wrapper-03.section__indent-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

/*
	Section Indent
*/
#mainContent .section__indent-01 {
  padding-top: 98px;
  padding-bottom: 100px;
}

#mainContent .section__indent-02 {
  padding-top: 98px;
  padding-bottom: 100px;
}

#mainContent .section__indent-02-custom {
  padding-top: 98px;
}

#mainContent .section__indent-03 {
  padding-top: 98px;
  padding-bottom: 100px;
}

#mainContent .section__indent-04 {
  padding-top: 98px;
}

#mainContent .section__indent-05 {
  padding-top: 126px;
  padding-bottom: 100px;
}

#mainContent .section__indent-06 {
  padding-top: 122px;
}

#mainContent .section__indent-98px {
  padding-top: 162px;
}

#mainContent .section__indent-07 {
  padding-top: 133px;
  padding-bottom: 100px;
}

#mainContent .section__indent-08 {
  padding-top: 98px;
  padding-bottom: 100px;
}

#mainContent .section__indent-09 {
  padding-top: 98px;
  padding-bottom: 100px;
}

#mainContent .section__indent-10 {
  padding-top: 100px;
  padding-bottom: 107px;
}

#mainContent .section-default-inner {
  padding-top: 98px;
  padding-bottom: 100px;
}

#mainContent .section-default-top {
  margin-top: 98px;
}

#mainContent .section__indent-11 {
  padding-top: 98px;
  padding-bottom: 87px;
}

#mainContent .section__indent-12 {
  padding-top: 128px;
}

#mainContent .section__indent-top-xl {
  margin-top: 0;
}

#mainContent .section__indent-13 {
  padding-top: 128px;
}

#mainContent .section__indent-14 {
  padding-top: 136px;
}

#mainContent .section__indent-15 {
  padding-top: 140px;
}

#mainContent .section__indent-16 {
  padding-top: 91px;
  padding-bottom: 100px;
}

@media (min-width: 576px) {
  #mainContent .section__indent-01 {
    padding-top: 148px;
    padding-bottom: 150px;
  }
  #mainContent .section__indent-02 {
    padding-top: 148px;
    padding-bottom: 150px;
  }
  #mainContent .section__indent-02-custom {
    padding-top: 148px;
  }
  #mainContent .section__indent-03 {
    padding-top: 148px;
    padding-bottom: 150px;
  }
  #mainContent .section__indent-04 {
    padding-top: 148px;
  }
  #mainContent .section__indent-05 {
    padding-top: 148px;
    padding-bottom: 142px;
  }
  #mainContent .section__indent-06 {
    padding-top: 148px;
  }
  #mainContent .section__indent-07 {
    padding-top: 148px;
    padding-bottom: 142px;
  }
  #mainContent .section__indent-08 {
    padding-top: 148px;
    padding-bottom: 150px;
  }
  #mainContent .section__indent-09 {
    padding-top: 139px;
    padding-bottom: 142px;
  }
  #mainContent .section__indent-10 {
    padding-top: 150px;
    padding-bottom: 157px;
  }
  #mainContent .section-default-inner {
    padding-top: 148px;
    padding-bottom: 130px;
  }
  #mainContent .section-default-top {
    margin-top: 148px;
  }
  #mainContent .section__indent-11 {
    padding-top: 148px;
    padding-bottom: 87px;
  }
  #mainContent .section__indent-12 {
    padding-top: 148px;
  }
  #mainContent .section__indent-13 {
    padding-top: 190px;
  }
  #mainContent .section__indent-14 {
    padding-top: 183px;
  }
  #mainContent .section__indent-15 {
    padding-top: 188px;
  }
  #mainContent .section__indent-16 {
    padding-top: 142px;
    padding-bottom: 150px;
  }
}

@media (min-width: 1025px) {
  #mainContent .section__indent-01 {
    padding-top: 217px;
    padding-bottom: 262px;
  }
  #mainContent .section__indent-02 {
    padding-top: 146px;
  }
  #mainContent .section__indent-02-custom {
    padding-top: 146px;
  }
  #mainContent .section__indent-03 {
    padding-top: 146px;
    padding-bottom: 143px;
  }
  #mainContent .section__indent-04 {
    padding-top: 146px;
  }
  #mainContent .section__indent-05 {
    padding-top: 188px;
    padding-bottom: 142px;
  }
  #mainContent .section__indent-06 {
    padding-top: 148px;
  }
  #mainContent .section__indent-07 {
    padding-top: 195px;
    padding-bottom: 142px;
  }
  #mainContent .section__indent-08 {
    padding-top: 73px;
    padding-bottom: 75px;
  }
  #mainContent .section__indent-09 {
    padding-top: 139px;
    padding-bottom: 142px;
  }
  #mainContent .section__indent-10 {
    padding-top: 150px;
    padding-bottom: 157px;
  }
  #mainContent .section-default-inner {
    padding-top: 148px;
    padding-bottom: 129px;
  }
  #mainContent .section-default-top {
    margin-top: 148px;
  }
  #mainContent .section__indent-11 {
    padding-top: 137px;
    padding-bottom: 120px;
  }
  #mainContent .section__indent-12 {
    padding-top: 188px;
  }
  #mainContent .section__indent-14 {
    padding-top: 183px;
  }
  #mainContent .section__indent-16 {
    padding-top: 142px;
    padding-bottom: 143px;
  }
}

@media (min-width: 1230px) {
  #mainContent .section__indent-top-xl {
    padding-top: 267px;
  }
}

@media (min-width: 1600px) {
  #mainContent .section__indent-left {
    margin-left: 80px;
  }
}

@media (min-width: 1600px) {
  #mainContent .section__indent-right {
    margin-right: 80px;
  }
}

/*
	Carusel In Two Columns
*/
.wrapper-carusel-two-col {
  background-color: #ffffff;
}
.wrapper-carusel-two-col.section {
  position: relative;
  padding: 62px 0 52px;
}
@media (min-width: 791px) {
  .wrapper-carusel-two-col.section {
    padding: 92px 0;
  }
}
@media (min-width: 1025px) {
  .wrapper-carusel-two-col.section {
    padding: 92px 0;
    margin-right: 15px;
  }
}
@media (min-width: 791px) {
  .wrapper-carusel-two-col .carusel-two-col:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
    height: 100%;
    z-index: 3;
    background: -webkit-gradient(
      linear,
      left top,
      right top,
      from(rgba(255, 255, 255, 0)),
      color-stop(30%, white)
    );
    background: linear-gradient(to right, rgba(255, 255, 255, 0), white 30%);
  }
}
@media (min-width: 1025px) {
  .wrapper-carusel-two-col .slick-arrow-extraleft:not(.js-carusel-two-col) {
    display: block;
  }
}

@media (max-width: 576px) {
  .carusel-two-col .item > *:not(:first-child) {
    display: none;
  }
  .carusel-two-col .item .carusel-separator {
    display: none !important;
  }
}

.extra-wrapper-left {
  padding-left: 0;
  padding-right: 0;
}
.extra-wrapper-left:before {
  content: "";
  position: absolute;
  display: block;
  left: 0%;
  width: 50%;
  height: 100%;
  background-color: #ffffff;
  z-index: 0;
}
.extra-wrapper-left.container {
  max-width: inherit;
}
@media (min-width: 1025px) {
  .extra-wrapper-left.container {
    max-width: 990px;
  }
}
@media (min-width: 1230px) {
  .extra-wrapper-left.container {
    max-width: 1200px;
  }
}
@media (max-width: 576px) {
  .extra-wrapper-left:before {
    width: 100%;
  }
  .extra-wrapper-left .item {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.carusel-two-col .slick-list {
  padding-left: 30px;
  padding-right: 30px;
}

.carusel-two-col .item {
  text-align: center;
}
.carusel-two-col .item img {
  display: inline-block;
}
.carusel-two-col .item .carusel-separator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  height: 163px;
}
.carusel-two-col .item .carusel-separator .icon {
  display: inline-block;
  position: relative;
  width: 31px;
  height: 31px;
}
.carusel-two-col .item .carusel-separator .icon:before,
.carusel-two-col .item .carusel-separator .icon:after {
  content: "";
  display: inline-block;
  background-color: #d5d5d5;
  position: absolute;
}
.carusel-two-col .item .carusel-separator .icon:after {
  width: 1px;
  height: 31px;
  top: -3px;
  left: 0px;
}
.carusel-two-col .item .carusel-separator .icon:before {
  width: 31px;
  height: 1px;
  left: -15px;
  top: 12px;
}

.carusel-two-col.slick-arrow-extraleft .slick-arrow {
  display: none !important;
}
@media (min-width: 1340px) {
  .carusel-two-col.slick-arrow-extraleft .slick-arrow {
    display: block !important;
  }
}

/*
	List Menu
*/
.list-menu {
  list-style: none;
  margin: -27px 0 0 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media (min-width: 576px) {
  .list-menu {
    margin-left: 12px;
  }
}
.list-menu_item {
  width: 100%;
  margin-top: 30px;
}
.list-menu_item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
}
.list-menu_item a .list-menu__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  z-index: 1;
  width: 133px;
  min-width: 133px;
  height: 133px;
  color: #2e3192;
  background-color: #ffffff;
  -webkit-box-shadow: 0 7px 14px rgba(17, 19, 91, 0.1);
  box-shadow: 0 7px 14px rgba(17, 19, 91, 0.1);
}
.list-menu_item a .list-menu__icon:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #2e3192;
  -webkit-transition: height 0.2s linear;
  transition: height 0.2s linear;
}
.list-menu_item a .list-menu__icon svg {
  width: 50px;
  height: 50px;
  margin-top: 4px;
  fill: #2e3192;
}
.list-menu_item a .list-menu__description {
  margin-left: -25px;
  position: relative;
  z-index: 2;
  margin-top: 11px;
}
.list-menu_item a .list-menu__value {
  color: #2e3192;
  font-size: 16px;
  line-height: 1;
  font-weight: bold;
  display: block;
}
.list-menu_item a .list-menu__title {
  color: #1e1e2d;
  font-size: 26px;
  line-height: 31px;
  display: block;
  margin-top: 12px;
  letter-spacing: -0.02em;
  font-weight: bold;
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear;
}
.list-menu_item a:hover .list-menu__icon:before {
  height: 20px;
}
.list-menu_item a:hover .list-menu__title {
  color: #2e3192;
}
@media (min-width: 576px) {
  .list-menu_item {
    width: 50%;
  }
  .list-menu_item:nth-child(even) {
    margin-left: 4px;
    width: calc(50% - 4px);
  }
}
@media (min-width: 1025px) {
  .list-menu_item a .list-menu__icon {
    width: 199px;
    min-width: 199px;
    height: 199px;
  }
  .list-menu_item a .list-menu__icon svg {
    width: 60px;
    height: 60px;
  }
  .list-menu_item a .list-menu__description {
    margin-left: -31px;
  }
}

/*
	List Icon
*/
.listicon-col {
  margin-top: -35px;
}
.listicon-col .listicon-col__item {
  margin-top: 35px;
}
.listicon-col__icon {
  fill: #2e3192;
  text-align: center;
}
.listicon-col__icon svg {
  width: 72px;
  height: auto;
}
.listicon-col__title {
  font-size: 26px;
  line-height: 31px;
  color: #1e1e2d;
  text-align: center;
  font-weight: bold;
  padding: 0;
  margin: 0;
}

/*
	Promo box
*/
.promobox-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #2e3192;
  color: #ffffff;
  top: 0;
  width: 100%;
  z-index: 7;
}
.promobox-slider__img {
  width: 100%;
}
.promobox-slider__img .link-icon-video {
  display: block;
}
.promobox-slider__img .link-icon-video img {
  max-width: inherit;
  width: 100%;
}
.promobox-slider__layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 2;
  -ms-flex: 2 1 auto;
  flex: 2 1 auto;
  padding: 43px 0 45px;
}
.promobox-slider__layout address {
  width: 132px;
  margin: 0;
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 25px;
  color: #ffffff;
}
.promobox-slider__layout address a {
  color: #ffffff;
  text-decoration: none;
  position: relative;
  display: inline-block;
}
.promobox-slider__layout address a:before {
  content: "";
  display: block;
  position: absolute;
  bottom: 4px;
  width: 0%;
  height: 1px;
  margin: auto;
  left: 0;
  right: 0;
  background-color: #ffffff;
  -webkit-transition: width 0.2s linear;
  transition: width 0.2s linear;
}
.promobox-slider__layout address a:hover {
  text-decoration: none;
}
.promobox-slider__layout address a:hover:before {
  width: 100%;
}
.promobox-slider__layout .social-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: -10px;
  margin-left: 8%;
  display: none;
}
.promobox-slider__layout .social-icon li {
  margin-left: 12px;
  margin-top: 10px;
}
.promobox-slider__layout .social-icon li a {
  width: 40px;
  height: 40px;
  display: inline-block;
  text-align: center;
  line-height: 2;
  border: 1px solid #7f81b3;
  border-radius: 50%;
  color: #ffffff;
  background-color: transparent;
  -webkit-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
}
.promobox-slider__layout .social-icon li a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
@media (min-width: 1230px) {
  .promobox-slider__layout .social-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media (min-width: 576px) {
  .promobox-slider__img {
    width: 188px;
  }
  .promobox-slider__layout {
    padding: 0;
  }
  .promobox-slider__layout address {
    width: 132px;
    margin: 0 0 0 8.7%;
  }
}
@media (min-width: 791px) {
  .promobox-slider {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
  .promobox-slider__img {
    width: 288px;
  }
  .promobox-slider__layout {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .promobox-slider__layout address {
    padding: 0 0 0 53px;
    width: 188px;
  }
  .promobox-slider__layout address:before {
    content: "";
    width: 30px;
    height: 1px;
    position: absolute;
    top: 11px;
    left: 0;
    display: inline-block;
    background-color: #5659b6;
  }
}
@media (min-width: 1025px) {
  .promobox-slider {
    margin-top: -91px;
    position: absolute;
  }
  .promobox-slider__layout {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .promobox-slider__layout address {
    width: 290px;
    padding: 0 0 0 67px;
    margin: 0 0 0 3.7%;
  }
  .promobox-slider__layout address:before {
    width: 44px;
  }
  .promobox-slider__layout address + address {
    width: 297px;
  }
}

.promo-box-01-description {
  max-width: 697px;
  padding-left: 17px;
  padding-right: 17px;
}
@media (min-width: 576px) {
  .promo-box-01-description {
    padding-right: 30px;
  }
}
@media (min-width: 1025px) {
  .promo-box-01-description {
    padding-left: 30px;
  }
}
@media (min-width: 1230px) {
  .promo-box-01-description {
    padding-left: 60px;
  }
}

.promo-box-01 {
  display: block;
  position: relative;
}
.promo-box-01 .promo-box-img {
  overflow: hidden;
}
.promo-box-01 .promo-box-img img {
  width: 100%;
  height: auto;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.7s;
  transition: -webkit-transform 0.7s;
  transition: transform 0.7s;
  transition: transform 0.7s, -webkit-transform 0.7s;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.promo-box-01 .promo-box__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 5px;
}
.promo-box-01 .promo-box__description .promo-box__title {
  font-size: 30px;
  line-height: 40px;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  letter-spacing: -0.02em;
}
.promo-box-01 .promo-box__description .promo-box__link {
  font-size: 14px;
  line-height: 1;
  color: #7679b8;
  position: relative;
  display: inline-block;
  margin-top: 28px;
  font-weight: bold;
  letter-spacing: 0.13em;
}
.promo-box-01 .promo-box__description .promo-box__link:before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 1px;
  margin: auto;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: #7679b8;
  -webkit-transition: width 0.2s linear;
  transition: width 0.2s linear;
}
.promo-box-01:hover .promo-box__description .promo-box__link:before {
  width: 0%;
}
@media (min-width: 1230px) {
  .promo-box-01:hover .promo-box-img img {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }
}
@media (min-width: 576px) {
  .promo-box-01 .promo-box__description .promo-box__title {
    font-size: 40px;
    line-height: 50px;
  }
  .promo-box-01 .promo-box__description .promo-box__link {
    font-size: 16px;
    margin-top: 38px;
  }
}
@media (min-width: 791px) {
  .promo-box-01 {
    margin-right: 23px;
    margin-top: -47%;
    position: relative;
    left: 0;
  }
  .promo-box-01 .promo-box__description .promo-box__title {
    font-size: 40px;
    line-height: 50px;
  }
  .promo-box-01 .promo-box__description .promo-box__link {
    margin-top: 38px;
  }
}
@media (min-width: 1230px) {
  .promo-box-01 {
    margin-top: -31%;
  }
  .promo-box-01 .promo-box__description .promo-box__title {
    font-size: 50px;
    line-height: 60px;
  }
  .promo-box-01 .promo-box__description .promo-box__link {
    margin-top: 38px;
  }
}
@media (min-width: 1690px) {
  .promo-box-01 {
    margin-top: -33%;
  }
  .promo-box-01 .promo-box__description .promo-box__title {
    font-size: 60px;
    line-height: 70px;
  }
  .promo-box-01 .promo-box__description .promo-box__link {
    margin-top: 38px;
  }
}

.promobox02 {
  display: inline-block;
  position: relative;
  margin-top: 25px;
  margin-bottom: 13px;
  overflow: hidden;
  -webkit-box-shadow: 0px 3px 14px rgba(17, 19, 91, 0.2);
  box-shadow: 0px 3px 14px rgba(17, 19, 91, 0.2);
  -webkit-transition: -webkit-box-shadow 0.3s ease-in-out;
  transition: -webkit-box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
}
.promobox02:before {
  content: "";
  width: 100%;
  height: 3px;
  background-color: #2e3192;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
}
.promobox02:after,
.promobox02:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  -webkit-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
}
.promobox02:after {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(255, 255, 255, 0)),
    color-stop(90%, white)
  );
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), white 90%);
}
.promobox02:before {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(46, 49, 146, 0)),
    color-stop(90%, #2e3192)
  );
  background: linear-gradient(to bottom, rgba(46, 49, 146, 0), #2e3192 90%);
  opacity: 0;
}
.promobox02__time {
  color: #1e1e2d;
  font-size: 16px;
  line-height: 1.1;
  font-weight: bold;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
  position: relative;
  z-index: 1;
  width: 100%;
}
.promobox02__title {
  color: #1e1e2d;
  font-size: 26px;
  line-height: 1.26;
  font-weight: bold;
  margin-top: 10px;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
  position: relative;
  z-index: 1;
  width: 100%;
  padding-bottom: 0;
}
.promobox02 .btn-custom {
  background-color: transparent;
  border: none;
  color: #ffffff;
  font-size: 16px;
  line-height: 1.2;
  font-weight: bold;
  letter-spacing: 0.13em;
  position: relative;
  outline: none;
  padding: 4px 15px 4px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  border: 1px solid #8a8cd7;
  height: 31px;
  cursor: pointer;
  border-radius: 30px;
  -webkit-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
  text-decoration: none;
  margin-top: 25px;
  position: absolute;
  left: -100%;
  bottom: 30px;
}
.promobox02 figure {
  padding: 0;
  margin: 0;
}
.promobox02 figcaption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-line-pack: end;
  align-content: flex-end;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  padding: 30px;
  text-align: left;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}
.promobox02 figcaption:before {
  content: "";
  height: 3px;
  width: 100%;
  background-color: #2e3192;
  position: absolute;
  top: 0;
  left: 0;
}
.promobox02:hover {
  -webkit-box-shadow: 0px 3px 15px rgba(4, 8, 117, 0.7);
  box-shadow: 0px 3px 15px rgba(4, 8, 117, 0.7);
}
.promobox02:hover .promobox02__time {
  color: #ffffff;
}
.promobox02:hover .promobox02__title {
  color: #ffffff;
}
.promobox02:hover:after {
  opacity: 0;
}
.promobox02:hover:before {
  opacity: 1;
}
.promobox02:hover.hover-moving .btn-custom {
  left: 30px;
}
.promobox02:hover.hover-moving figcaption {
  padding-bottom: 86px;
}

.promobox02__slider {
  margin-right: -15px;
  margin-left: -15px;
  margin-bottom: -20px;
  width: calc(100% + 30px);
}
.promobox02__slider .promobox02 {
  margin-right: 15px;
  margin-left: 15px;
}
.promobox02__slider .item {
  text-align: center;
}
@media (min-width: 791px) {
  .promobox02__slider .item {
    text-align: left;
  }
}
